<div class="card card-custom example example-compact">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">Modal Blocking</h3>
    </div>
    <div class="card-toolbar">
      <div class="example-tools justify-content-center">
        <span class="example-toggle" data-toggle="tooltip" title="" data-original-title="View code"></span>
      </div>
    </div>
  </div>
  <div class="card-body">
    <p>Click below buttons to block modal.</p>
    <div class="mt-5">
      <button type="button" class="btn btn-light font-weight-bold" data-toggle="modal" data-target="#kt_blockui_modal_default">Default</button>
      <button type="button" class="btn btn-light font-weight-bold" data-toggle="modal" data-target="#kt_blockui_modal_overlay_color">Overlay color</button>
      <button type="button" class="btn btn-light font-weight-bold" data-toggle="modal" data-target="#kt_blockui_modal_custom_spinner">Custom spinner</button>
      <button type="button" class="btn btn-light font-weight-bold" data-toggle="modal" data-target="#kt_blockui_modal_custom_text_1">Custom text 1</button>
      <button type="button" class="btn btn-light font-weight-bold" data-toggle="modal" data-target="#kt_blockui_modal_custom_text_2">Custom text 2</button>
    </div>
    <!--end::Preview-->
  </div>
</div>
<!--begin::Modal-->
<div class="modal fade" id="kt_blockui_modal_default" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">New message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label class="form-control-label">Recipient:</label>
            <input class="form-control form-control-solid h-auto p-6" type="email" name="username" placeholder="Enter Email" autocomplete="off" />
          </div>
          <div class="form-group">
            <label class="form-control-label">Message:</label>
            <textarea class="form-control"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="kt_blockui_modal_default_btn">Block modal</button>
      </div>
    </div>
  </div>
</div>
<!--end::Modal-->
<!--begin::Modal-->
<div class="modal fade" id="kt_blockui_modal_overlay_color" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">New message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label class="form-control-label">Recipient:</label>
            <input type="text" class="form-control" />
          </div>
          <div class="form-group">
            <label class="form-control-label">Message:</label>
            <textarea class="form-control"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="kt_blockui_modal_overlay_color_btn">Block modal</button>
      </div>
    </div>
  </div>
</div>
<!--end::Modal-->
<!--begin::Modal-->
<div class="modal fade" id="kt_blockui_modal_custom_spinner" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">New message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label class="form-control-label">Recipient:</label>
            <input type="text" class="form-control" />
          </div>
          <div class="form-group">
            <label class="form-control-label">Message:</label>
            <textarea class="form-control"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="kt_blockui_modal_custom_spinner_btn">Block modal</button>
      </div>
    </div>
  </div>
</div>
<!--end::Modal-->
<!--begin::Modal-->
<div class="modal fade" id="kt_blockui_modal_custom_text_1" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">New message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label class="form-control-label">Recipient:</label>
            <input type="text" class="form-control" />
          </div>
          <div class="form-group">
            <label class="form-control-label">Message:</label>
            <textarea class="form-control"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="kt_blockui_modal_custom_text_1_btn">Block modal</button>
      </div>
    </div>
  </div>
</div>
<!--end::Modal-->
<!--begin::Modal-->
<div class="modal fade" id="kt_blockui_modal_custom_text_2" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">New message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label class="form-control-label">Recipient:</label>
            <input type="text" class="form-control" />
          </div>
          <div class="form-group">
            <label class="form-control-label">Message:</label>
            <textarea class="form-control"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="kt_blockui_modal_custom_text_2_btn">Block modal</button>
      </div>
    </div>
  </div>
</div>
<!--end::Modal-->
