<!-- register -->
<section class="position-relative pb-0">
  <div class="gen-register-page-background"
    style="background-image: url('assets/images/background/maxhome-banner.png');">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="text-center">
          <form id="pms_register-form" class="pms-form" [formGroup]="registerForm" (ngSubmit)="register()">
            <h4>Create Account</h4>
            <app-messages></app-messages>
            <div class="login--header">
              <p>Please fill the fields with appropriate info to register
              </p>
            </div>
            <input type="hidden" id="pmstkn" name="pmstkn" value="/register/">
            <ul class="pms-form-fields-wrapper pl-0">
              <li class="pms-field pms-user-login-field ">
                <label for="pms_user_login">Name *</label>
                <input id="pms_user_login" class="text_field" name="user_login" type="text" placeholder="Enter Username"
                  formControlName="name">
              </li>
              <li class="pms-field pms-user-email-field ">
                <label for="pms_user_email">E-mail *</label>
                <input id="pms_user_email" class="text_field" name="user_email" type="text"
                  placeholder="Enter your Email" formControlName="email">
              </li>
              <li class="pms-field pms-pass1-field">
                <label for="pms_pass1">Password *</label>
                <input id="pms_pass1" class="text_field" name="pass1" type="password" placeholder="Enter Password"
                  formControlName="password">
              </li>
              <li class="pms-field pms-pass2-field">
                <label for="pms_pass2">Phone No. *</label>
                <input id="pms_pass2" class="text_field" name="phone#" type="text" placeholder="Enter Phone #"
                  formControlName="phone">
              </li>
              <li class="pms-field pms-field-subscriptions ">
                <div class="pms-remember-me">
                  <label><input type="checkbox" name="accept-t&C">Accept Terms & Conditions</label>
                </div>
            </ul>
            <div class="login_assist">
              <p>Already have an account?
                <a routerLink="/auth/login">Login</a>
              </p>
            </div>
            <span id="pms-submit-button-loading-placeholder-text" class="d-none" *ngIf="loading">Processing. Please
              wait...</span>
            <input class="btn btn--md btn--round register_btn" name="pms_register" type="submit" value="Register">
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- register -->
