<!--begin::REGISTER -->
<div class="d-flex flex-column flex-root">
  <!--begin::Login-->
  <div class="login login-2 login-signin-on d-flex flex-column flex-column-fluid bg-white position-relative overflow-hidden" id="kt_login">
    <!--begin::Header-->
    <div class="login-header pb-20 flex-column-auto">
      <div class="container d-flex flex-column flex-md-row align-items-center justify-content-center justify-content-md-between">
        <!--begin::Logo-->
        <a routerLink="/" class="flex-column-auto py-5 py-md-0">
          <img src="./assets/media/logos/logo-2.png" alt="logo" class="h-50px"/>
        </a>
        <!--end::Logo-->
        <span class="text-muted font-weight-bold font-size-h4">New Here?
        <a href="javascript:;" id="kt_login_signup" class="text-primary font-weight-bolder">Create an Account</a></span>
      </div>
    </div>
    <!--end::Header-->
    <!--begin::Body-->
    <div class="login-body d-flex flex-column-fluid align-items-stretch justify-content-center">
      <div class="container row">
        <div class="col-lg-6 d-flex align-items-center">
          <!--begin::Signup-->
          <div class="login-form login-signup">
            <!--begin::Form-->
            <form class="form w-xxl-550px rounded-lg p-0" novalidate="novalidate" id="kt_login_signup_form">
              <!--begin::Title-->
              <div class="pb-5 pt-lg-0 pt-5">
                <h3 class="font-weight-bolder text-dark font-size-h4 font-size-h1-lg">Sign Up</h3>
                <p class="text-muted font-weight-bold font-size-h4">Enter your details to create account</p>
              </div>
              <!--end::Title-->
              <!--begin::Form group-->
              <div class="form-group">
                <input class="form-control form-control-solid h-auto p-6 font-size-h6" type="text" placeholder="Fullname" name="fullname" autocomplete="off" />
              </div>
              <!--end::Form group-->
              <!--begin::Form group-->
              <div class="form-group">
                <input class="form-control form-control-solid h-auto p-6 font-size-h6" type="email" placeholder="Email" name="email" autocomplete="off" />
              </div>
              <!--end::Form group-->
              <!--begin::Form group-->
              <div class="form-group">
                <input class="form-control form-control-solid h-auto p-6 font-size-h6" type="password" placeholder="Password" name="password" autocomplete="off" />
              </div>
              <!--end::Form group-->
              <!--begin::Form group-->
              <div class="form-group">
                <input class="form-control form-control-solid h-auto p-6 font-size-h6" type="password" placeholder="Confirm password" name="cpassword" autocomplete="off" />
              </div>
              <!--end::Form group-->
              <!--begin::Form group-->
              <div class="form-group">
                <div class="checkbox-inline">
                  <label class="checkbox">
                  <input type="checkbox" name="agree" />
                  <span></span>I Agree to the <a href="#" class="ml-1">Terms and Conditions</a>.</label>
                </div>
              </div>
              <!--end::Form group-->
            <!--begin::Form group-->
            <div class="form-group d-flex flex-wrap pb-lg-0 pb-3">
              <button type="button" id="kt_login_signup_submit" class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-4"><i class="fas fa-user-lock"></i>Signup</button>
              <button type="button" id="kt_login_signup_cancel" class="btn btn-light-danger font-weight-bolder font-size-h6 px-8 py-4 my-3">Cancel <i class="fas fa-arrow-right"></i></button>
            </div>
            <!--end::Form group-->
            </form>
            <!--end::Form-->
          </div>
          <!--end::Signup-->
          <!--begin::Signin-->
          <div class="login-form login-signin">
            <!--begin::Form-->
            <form class="form w-xxl-550px rounded-lg p-0" novalidate="novalidate" id="kt_login_signin_form">
            <!--begin::Title-->
            <div class="pb-5 pt-lg-0 pt-5">
              <h3 class="font-weight-bolder text-dark font-size-h4 font-size-h1-lg">Welcome to CreatorsStream</h3>
              <span class="text-muted font-weight-bold font-size-h4">Signin to your Account</span>
            </div>
            <!--begin::Title-->
              <!--begin::Form group-->
              <div class="form-group">
                <label class="font-size-h6 font-weight-bolder text-dark">Email</label>
                <input class="form-control form-control-solid h-auto p-6" type="email" name="username" placeholder="Enter Email" autocomplete="off" />
              </div>
              <!--end::Form group-->
              <!--begin::Form group-->
              <div class="form-group">
                <div class="d-flex justify-content-between mt-n5">
                  <label class="font-size-h6 font-weight-bolder text-dark pt-5">Password</label>
                  <a href="javascript:;" class="text-primary font-size-h6 font-weight-bolder text-hover-primary pt-5" id="kt_login_forgot">Forgot Password?</a>
                </div>
                <input class="form-control form-control-solid h-auto p-6" type="password" name="password" placeholder="Your Password" autocomplete="off" />
              </div>
              <!--end::Form group-->
              <!--begin::Action-->
              <div class="pb-lg-0 pb-5">
                <button type="button" id="kt_login_signin_submit" class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-3">
                <i class="fas fa-user-lock"></i>Login</button>
              </div>
              <!--end::Action-->
            </form>
            <!--end::Form-->
          </div>
          <!--end::Signin-->
          <!--begin::Forgot-->
          <div class="login-form login-forgot">
            <!--begin::Form-->
            <form class="form w-xxl-550px rounded-lg p-0" novalidate="novalidate" id="kt_login_forgot_form">
              <!--begin::Title-->
              <div class="pb-5 pt-lg-0 pt-5">
                <h3 class="font-weight-bolder text-dark font-size-h4 font-size-h1-lg">Forgotten Password?</h3>
                <p class="text-muted font-weight-bold font-size-h4">Enter your email to reset your password</p>
              </div>
              <!--end::Title-->
              <!--begin::Form group-->
              <div class="form-group">
                <input class="form-control form-control-solid h-auto p-6 font-size-h6" type="email" placeholder="Email" name="email" autocomplete="off" />
              </div>
              <!--end::Form group-->
            <!--begin::Form group-->
            <div class="form-group d-flex flex-wrap pb-lg-0">
              <button type="button" id="kt_login_forgot_submit" class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-4"><i class="fas fa-mail-bulk"></i>Submit</button>
              <button type="button" id="kt_login_forgot_cancel" class="btn btn-light-danger font-weight-bolder font-size-h6 px-8 py-4 my-3">Cancel <i class="fas fa-arrow-right"></i></button>
            </div>
            <!--end::Form group-->
            </form>
            <!--end::Form-->
          </div>
          <!--end::Forgot-->
        </div>
        <div class="col-lg-6 bgi-size-contain bgi-no-repeat bgi-position-y-center bgi-position-x-center min-h-150px mt-10 m-md-0" style="background-image: url('./assets/media/svg/illustrations/login_re_4vu2.svg')"></div>
      </div>
    </div>
    <!--end::Body-->
    <!--begin::Footer-->
    <div class="login-footer pt-20 flex-column-auto">
      <div class="container d-flex flex-column flex-md-row align-items-center justify-content-center justify-content-md-between">
        <div class="font-size-h6 font-weight-bolder order-2 order-md-1 py-2 py-md-0">
          <span class="text-muted font-weight-bold mr-2">© 2022 CreatorsStream LLC.</span>
        </div>
        <div class="font-size-h5 font-weight-bolder order-1 order-md-2 py-2 py-md-0">
          <a routerLink="/about/" class="text-primary font-weight-bolder font-size-h5">About</a>
          <a routerLink="/policy/" class="text-primary ml-10 font-weight-bolder font-size-h5">Privacy Policy</a>
          <a routerLink="/contact/" class="text-primary ml-10 font-weight-bolder font-size-h5">Contact Us</a>
        </div>
      </div>
    </div>
    <!--end::Footer-->
  </div>
  <!--end::Login-->
</div>
<!--End::REGISTER-->
