<!-- Recover-Password -->
<section class="position-relative pb-0">
  <div class="recover-password-page-background"
    style="background-image:url('assets/images/background/maxhome-banner.png');">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="text-center">
          <form id="pms_recover_password_form" class="pms-form" [formGroup]="forgotForm" (ngSubmit)="forgot()">
            <h4>Recover Password</h4>
            <app-messages></app-messages>
            <input type="hidden" id="pmstkn" name="" value="">
            <p class="font-weight-normal">Please enter your username or email address.<br>You will receive
              a link to create a new
              password via email.</p>
            <ul class="pms-form-fields-wrapper pl-0 mb-4">
              <li class="pms-field">
                <label for="pms_username_email">Username or Email</label>
                <input id="pms_username_email" class="text_field" name="pms_username_email" type="text"
                  placeholder="Enter your Email/Username" formControlName="email">
              </li>
            </ul>
            <input [disabled]="loading" class="btn btn--md btn--round register_btn" type="submit" name="submit"
              value="Reset Password">
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Recover-Password -->
