<!-- Footer Top Starts -->
<footer id="gen-footer">
  <div class="gen-footer-style-1">
    <div class="gen-footer-top">
      <div class="container">
        <div class="row">
          <div class="col-xl-8 col-md-6">
            <div class="widget">
              <div class="row">
                <div class="col-sm-12">
                  <h4 class="footer-title">Creators Connect</h4>
                  <ul class="social-link">
                    <li><a href="#" class="ft-social"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#" class="ft-social"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#" class="ft-social"><i class="fab fa-twitter"></i></a></li>
                  </ul>
                </div>
                <p class="copyr-text" style="padding-left:15px">&copy; 2022 CreatorsStream - All Rights Reserved.</p>
              </div>
            </div>
          </div>
          <div class="col-xl-4  col-md-6">
              <h4 class="footer-title">Get Updates Notification</h4>
                <div class="form-group Ad">
                    <div class="input-group">
                      <input id="ad-input--id" class="form-control form-control-solid h-auto p-6" type="email" placeholder="Enter Email" autocomplete="off" />
                      <div class="input-group-append">
                        <button id="btn-alt" class="btn btn--md rounded-0" type="submit">JOIN NOW</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <!-------LINE-------->
</footer>
<!-- Footer Top End -->

<!-- Main Footer Start -->
<footer id="gen-footer">
  <div class="gen-footer-style-1">
    <div class="gen-footer-top main">
      <div class="container">
        <div class="row">
          <div class="col-xl-3 col-md-6">
            <div class="widget">
              <h4 class="footer-title">Services</h4>
              <div class="menu-explore-container">
                <ul class="menu">
                  <li class="menu-item">
                    <a routerLink="/" aria-current="page">Home</a>
                  </li>
                  <li class="menu-item"><a href="#">Videos</a></li>
                  <li class="menu-item"><a href="#">Actors</a></li>
                  <li class="menu-item"><a href="#">Basketball</a></li>
                  <li class="menu-item"><a href="#">Celebrity</a></li>
                  <li class="menu-item"><a href="#">Cross</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6">
            <div class="widget">
              <h4 class="footer-title">About</h4>
              <div class="menu-explore-container">
                <ul class="menu">
                  <li class="menu-item">
                    <a routerLink="/" aria-current="page">Home</a>
                  </li>
                  <li class="menu-item"><a href="#">Movies</a></li>
                  <li class="menu-item"><a href="#">Tv Shows</a></li>
                  <li class="menu-item"><a href="#">Videos</a></li>
                  <li class="menu-item"><a href="#">Cross</a></li>
                  <li class="menu-item"><a href="#">Actors</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6">
            <div class="widget">
              <h4 class="footer-title">Terms</h4>
              <div class="menu-about-container">
                <ul class="menu">
                  <li class="menu-item"><a href="#">Privacy Policy</a></li>
                  <li class="menu-item"><a href="#">Support</a></li>
                  <li class="menu-item"><a href="#">Our Team</a></li>
                  <li class="menu-item"><a href="#">Terms</a></li>
                  <li class="menu-item"><a href="#">Faq</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="widget">
              <h4 class="footer-title">Contact Us</h4>
                <ul class="info-contact">
                    <li>
                        <span class="fa fa-phone info-icon"></span>
                        <span class="info">Fax: +6789-875-2235</span>
                    </li>
                    <li>
                      <i class="flaticon-envelope"></i>
                        <span class="info">support@creatorsstream.com</span>
                    </li>
                    <li>
                      <i class="flaticon-envelope"></i>
                        <span class="info">enquires@creatorsstream.com</span>
                    </li>
                </ul>
            </div>
            <!-- end /.info-footer -->
        </div>
        <!-- end /.col-md-3 -->
        </div>
      </div>
    </div>
    <hr><!-------LINE-------->
    <div class="gen-copyright-footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 align-self-left">
            <img src="assets/images/logo-2.png" class="gen-footer-logo">
          </div>
          <div class="col-lg-4">
            <p><span class="gen-copyright align-self-right" style="float:right;">CreatorsStream Network LLC</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- Main Footer End -->

<!--begin::Ad-Modal-->
<div class="modal fade" id="exampleModalSizeLg" tabindex="-1" role="dialog" aria-hidden="true" style="padding-right: 15px;">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Place Your Advert</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <i aria-hidden="true" class="fa fa-close"></i>
        </button>
        </div>
      <div class="modal-body">
        <form>
          <div class="row">
          <div class="col-xl-6">
          <div class="form-group">
            <label class="form-control-label">Ad Title:</label>
            <input class="form-control form-control-solid h-auto p-6" type="text" name="ad-title" placeholder="Title" autocomplete="off" />
          </div>
          </div>
          <div class="col-xl-6">
          <div class="form-group">
            <!--begin::Select-->
            <div class="form-group fv-plugins-icon-container">
              <label class="form-control-label">Select Type</label>
              <select name="option" class="form-control form-control-solid form-control-lg">
                <option>-- Select --</option>
                <option>Video Ad</option>
                <option>Text Ad</option>
                <option>Other</option>
              </select>
            </div>
            <!--end::Input-->
          </div>
          </div>
          </div>
          <div class="col-md-6">
            <label for="thumbnail"> Upload File
              <sup>*</sup>
            </label>
            <div class="custom_upload">
              <label for="thumbnail">
                <input type="file" id="thumbnail" class="files">
                <span class="dropzone-select btn btn-light-primary font-weight-bold btn-sm">Choose File</span>
              </label>
            </div>
            <span class="form-text text-muted">Max file size is 25MB</span>
            </div>
          <div class="form-group">
            <textarea class="form-control form-control-solid h-auto p-6" placeholder="Ad Description"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="kt_blockui_modal_default_btn">Post Advert</button>
      </div>
    </div>
  </div>
</div>
<!--end::Ad-Modal-->
