<!-- Footer Top Starts -->
<footer id="gen-footer">
  <div class="gen-footer-style-1">
    <div class="gen-footer-top">
      <div class="container">
        <div class="row">
          <div class="col-xl-8 col-md-6">
            <div class="widget">
              <div class="row">
                <div class="col-sm-12">
                  <h4 class="footer-title">Creators Connect</h4>
                  <ul class="social-link">
                    <li><a href="#" class="ft-social"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#" class="ft-social"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#" class="ft-social"><i class="fab fa-twitter"></i></a></li>
                  </ul>
                </div>
                <p class="copyr-text" style="padding-left:15px">&copy; 2022 CreatorsStream - All Rights Reserved.</p>
              </div>
            </div>
          </div>

          <div class="col-xl-4  col-md-6">
            <div class="widget newsl">
              <h4 class="footer-title">Get Updates Notification</h4>
              <div class="row">
                <div class="col-sm-12">
                  <div class="field-wrapper News-L">
                    <input id="ad-input--id" class="text_field" type="text" placeholder="Enter Email">
                    <button class="btn btn--md btn--round register_btn" type="submit">Join</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-------LINE-------->
  </div>
</footer>
<!-- Footer Top End -->

<!-- Main Footer Start -->
<footer id="gen-footer">
  <div class="gen-footer-style-1">
    <div class="gen-footer-top main">
      <div class="container">
        <div class="row">
          <div class="col-xl-3 col-md-6">
            <div class="widget">
              <h4 class="footer-title">Services</h4>
              <div class="menu-explore-container">
                <ul class="menu">
                  <li class="menu-item">
                    <a href="index.html" aria-current="page">Home</a>
                  </li>
                  <li class="menu-item"><a href="#">Movies</a></li>
                  <li class="menu-item"><a href="#">Tv Shows</a></li>
                  <li class="menu-item"><a href="#">Videos</a></li>
                  <li class="menu-item"><a href="#">Actors</a></li>
                  <li class="menu-item"><a href="#">Basketball</a></li>
                  <li class="menu-item"><a href="#">Celebrity</a></li>
                  <li class="menu-item"><a href="#">Cross</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6">
            <div class="widget">
              <h4 class="footer-title">About</h4>
              <div class="menu-explore-container">
                <ul class="menu">
                  <li class="menu-item">
                    <a href="index.html" aria-current="page">Home</a>
                  </li>
                  <li class="menu-item"><a href="#">Movies</a></li>
                  <li class="menu-item"><a href="#">Tv Shows</a></li>
                  <li class="menu-item"><a href="#">Videos</a></li>
                  <li class="menu-item"><a href="#">Actors</a></li>
                  <li class="menu-item"><a href="#">Basketball</a></li>
                  <li class="menu-item"><a href="#">Celebrity</a></li>
                  <li class="menu-item"><a href="#">Cross</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6">
            <div class="widget">
              <h4 class="footer-title">Terms of Use</h4>
              <div class="menu-about-container">
                <ul class="menu">
                  <li class="menu-item"><a href="#">Company</a>
                  </li>
                  <li class="menu-item"><a href="#">Privacy Policy</a></li>
                  <li class="menu-item"><a href="#">Terms Of Use</a></li>
                  <li class="menu-item"><a href="#">Help Center</a></li>
                  <li class="menu-item"><a href="#">contact us</a></li>
                  <li class="menu-item"><a href="#">Subscribe</a></li>
                  <li class="menu-item"><a href="#">Our Team</a></li>
                  <li class="menu-item"><a href="#">Faq</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="widget">
              <h4 class="footer-title">Contact Us</h4>
                <p id="footer-info" class="info--text">Nunc placerat mi id nisi interdum they mollis. Praesent pharetra, justo ut scel erisque the mattis,
                    leo quam.</p>
                <ul class="info-contact">
                    <li>
                        <span class="fa fa-phone info-icon"></span>
                        <span class="info">Phone: +6789-875-2235</span>
                    </li>
                    <li>
                        <span class="fa fa-envelope info-icon"></span>
                        <span class="info">support@creatorsstream.com</span>
                    </li>
                </ul>
            </div>
            <!-- end /.info-footer -->
        </div>
        <!-- end /.col-md-3 -->
        </div>
      </div>
    </div>
    <hr>
    <!-------LINE-------->
    <div class="gen-copyright-footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 align-self-left">
            <img src="assets/images/logo-2.png" class="gen-footer-logo">
          </div>
          <div class="col-lg-4">
            <p><span class="gen-copyright align-self-right" style="float:right;">CreatorsStream LLC - All Rights
                Reserved.</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- Main Footer End -->
