<div class="preload dashboard-page has_chart">
  <!--================================
      START MENU AREA
  =================================-->
  <!-- start menu-area -->
  <div class="menu-area">
      <!-- start .top-menu-area -->
      <div class="top-menu-area">
          <!-- start .container -->
          <div class="container">
              <!-- start .row -->
              <div class="row">
                  <!-- start .col-md-3 -->
                  <div class="col-lg-3 col-md-3 col-6 v_middle">
                      <div class="logo">
                          <a routerLink="/auth/home/">
                              <img src="assets/images/logo-2.png" height="25" alt="logo image" class="img-fluid">
                          </a>
                      </div>
                  </div>
                  <!-- end /.col-md-3 -->

                  <!-- start .col-md-5 -->
                  <div class="col-lg-8 offset-lg-1 col-md-9 col-6 v_middle">
                      <!-- start .author-area -->
                     <div class="author-area">
                          <a routerLink="/dashboard/channel/add" class="author-area__seller-btn-alt"><i class="fa fa-video" aria-hidden="true"></i> Create Channel</a>
                          <a routerLink="/dashboard/add-video/" class="author-area__seller-btn"><i class="fa fa-upload"></i> Upload Video</a>

                          <div class="author__notification_area">
                              <ul>
                                  <li class="has_dropdown">
                                      <div class="icon_wrap">
                                          <span class="fa fa-bell"></span>
                                          <span class="notification_count noti">3</span>
                                      </div>

                                      <div class="dropdowns notification--dropdown">
                                          <div class="dropdown_module_header">
                                            <span>New Notifications<a href="#">View All</a></span>
                                          </div>

                                          <div class="notifications_module">
                                              <div class="notification">
                                                  <div class="notification__info">
                                                      <div class="info_avatar">
                                                          <img src="assets/images/Channel-Avator-vplay.png" alt="">
                                                      </div>
                                                      <div class="info">
                                                          <p>
                                                              <span>Anderson</span> added to Favourite
                                                              <a href="#">Mccarther Coffee Shop</a>
                                                          </p>
                                                          <p class="time">Just now</p>
                                                      </div>
                                                  </div>
                                                  <!-- end /.notifications -->
                                              </div>
                                              <!-- end /.notifications -->

                                              <div class="notification">
                                                  <div class="notification__info">
                                                      <div class="info_avatar">
                                                          <img src="assets/images/Channel-Avator-vplay.png" alt="">
                                                      </div>
                                                      <div class="info">
                                                          <p>
                                                              <span>Michael</span> comments on
                                                              <a href="#">CS Extension</a>
                                                          </p>
                                                          <p class="time">Just now</p>
                                                      </div>
                                                  </div>
                                                  <!-- end /.notifications -->

                                                  <div class="notification__icons ">
                                                      <span class="fa fa-bubble commented noti_icon"></span>
                                                  </div>
                                                  <!-- end /.notifications -->
                                              </div>
                                              <!-- end /.notifications -->
                                          </div>
                                          <!-- end /.dropdown -->
                                      </div>
                                  </li>

                                  <li class="has_dropdown">
                                    <div class="icon_wrap">
                                        <span class="fa fa-envelope"></span>
                                        <span class="notification_count msg">2</span>
                                    </div>

                                    <div class="dropdowns messaging--dropdown">
                                        <div class="dropdown_module_header">
                                          <span>New Messages<a href="#">View All</a></span>
                                        </div>

                                        <div class="messages">
                                            <a href="#" class="message recent">
                                                <div class="message__actions_avatar">
                                                    <div class="avatar">
                                                        <img src="assets/images/Channel-Avator-vplay.png">
                                                    </div>
                                                </div>
                                                <!-- end /.actions -->

                                                <div class="message_data">
                                                    <div class="name_time">
                                                        <div class="name">
                                                            <span>Nuke Johnson</span>
                                                        </div>
                                                        <p>Hello John Smith!...</p>
                                                    </div>
                                                </div>
                                                <!-- end /.message_data -->
                                            </a>
                                            <!-- end /.message -->

                                            <a href="#" class="message recent">
                                                <div class="message__actions_avatar">
                                                    <div class="avatar">
                                                        <img src="assets/images/Channel-Avator-vplay.png">
                                                    </div>
                                                </div>
                                                <!-- end /.actions -->

                                                <div class="message_data">
                                                    <div class="name_time">
                                                        <div class="name">
                                                            <span>Crazy Coder</span>
                                                        </div>
                                                        <p>Hello John Smith!...</p>
                                                    </div>
                                                </div>
                                                <!-- end /.message_data -->
                                            </a>
                                            <!-- end /.message -->
                                        </div>
                                    </div>
                                </li>

                            </ul>
                        </div>
                        <!--start .author__notification_area -->

                          <!--start .author-author__info-->
                          <div class="author-author__info inline has_dropdown">
                              <div class="author__avatar">
                                  <img src="assets/images/Channel-Avator-vplay.png" width="45" alt="user avatar">

                              </div>
                              <div class="autor__info">
                                  <p class="name">
                                     Bismark Asare
                                  </p>
                                  <p class="ammount">$20.45</p>
                              </div>

                              <div class="dropdowns dropdown--author">
                                  <ul>
                                      <li>
                                          <a href="#" data-target="#myModal3" data-toggle="modal">
                                              <span class="fa fa-credit-card"></span>Load Wallet</a>
                                      </li>
                                      <li>
                                          <a routerLink="/dashboard/add-video/">
                                              <span class="fa fa-upload"></span>Upload Video</a>
                                      </li>
                                      <li>
                                          <a href="dashboard.html" data-target="#myModal1" data-toggle="modal">
                                              <span class="fa fa-book"></span>Create Channel</a>
                                      </li>
                                      <li>
                                          <a href="dashboard.html" data-target="#myModal3" data-toggle="modal">
                                              <span class="fa fa-briefcase"></span>Withdrawals</a>
                                      </li>
                                      <li>
                                          <a routerLink="/dashboard/settings/">
                                              <span class="fa fa-cog"></span> Settings</a>
                                      </li>
                                      <li>
                                          <a href="index.html">
                                              <span class="fa fa-sign-out-alt"></span>Logout</a>
                                      </li>
                                  </ul>
                              </div>
                          </div>
                          <!--end /.author-author__info-->
                      </div>
                      <!-- end .author-area -->

                      <!-- author area restructured for mobile -->
                      <div class="mobile_content ">
                          <span class="fa fa-user menu_icon"></span>

                          <!-- offcanvas menu -->
                          <div class="offcanvas-menu closed">
                              <span class="fa fa-cross close_menu"></span>
                              <div class="author-author__info">
                                  <div class="author__avatar v_middle">
                                      <img src="assets/images/Channel-Avator-vplay.png" width="45" alt="user avatar">
                                  </div>
                                  <div class="autor__info v_middle">
                                      <p class="name">
                                          Bismark Asare
                                      </p>
                                      <p class="ammount">$20.45</p>
                                  </div>
                              </div>
                              <!--end /.author-author__info-->

                              <div class="author__notification_area">
                                  <ul>
                                      <li>
                                          <a href="notification.html">
                                              <div class="icon_wrap">
                                                  <span class="fa fa-alarm"></span>
                                                  <span class="notification_count noti">25</span>
                                              </div>
                                          </a>
                                      </li>

                                      <li>
                                          <a href="message.html">
                                              <div class="icon_wrap">
                                                  <span class="fa fa-envelope"></span>
                                                  <span class="notification_count msg">6</span>
                                              </div>
                                          </a>
                                      </li>

                                      <li>
                                          <a href="cart.html">
                                              <div class="icon_wrap">
                                                  <span class="fa fa-cart"></span>
                                                  <span class="notification_count purch">2</span>
                                              </div>
                                          </a>
                                      </li>
                                  </ul>
                              </div>
                              <!--start .author__notification_area -->

                              <div class="dropdowns dropdown--author">
                                  <ul>
                                      <li>
                                          <a routerLink="/dashboard/settings/">
                                              <span class="fa fa-user"></span>Profile</a>
                                      </li>
                                      <li>
                                          <a routerLink="/dashboard/" data-target="#myModal3" data-toggle="modal">
                                              <span class="fa fa-credit-card"></span>Load Wallet</a>
                                      </li>
                                      <li>
                                          <a routerLink="/dashboard/add-video/">
                                              <span class="fa fa-upload"></span>Upload Video</a>
                                      </li>
                                      <li>
                                          <a href="#" data-target="#myModal1" data-toggle="modal">
                                              <span class="fa fa-book"></span>Create Channel</a>
                                      </li>
                                      <li>
                                          <a href="#" data-target="#myModal3" data-toggle="modal">
                                              <span class="fa fa-briefcase"></span>Withdrawals</a>
                                      </li>
                                      <li>
                                          <a routerLink="/dashboard/settings/">
                                              <span class="fa fa-cog"></span> Setting</a>
                                      </li>
                                      <li>
                                          <a href="index.html">
                                              <span class="fa fa-sign-out"></span>Logout</a>
                                      </li>
                                  </ul>
                              </div>

                              <div class="text-center">
                                  <a href="./upload-video.html" class="author-area__seller-btn inline">Upload Video</a>
                              </div>
                          </div>
                      </div>
                      <!-- end /.mobile_content -->
                  </div>
                  <!-- end /.col-md-5 -->
              </div>
              <!-- end /.row -->
          </div>
          <!-- end /.container -->
      </div>
      <!-- end  -->
  </div>
  <!-- end /.menu-area -->
  <!--================================
      END MENU AREA
  =================================-->


  <!--================================
          START DASHBOARD AREA
  =================================-->
  <section class="dashboard-area">
      <div class="dashboard_menu_area">
          <div class="container">
              <div class="row">
                  <div class="col-md-12">
                      <ul class="dashboard_menu">
                          <li class="active">
                              <a routerLink="/dashboard/">
                                  <i class="fa fa-home"></i> Dashboard</a>
                          </li>
                          <li>
                              <a routerLink="/dashboard/channels/">
                                  <span class="fa fa-video"></span> Channels</a>
                          </li>
                          <li>
                              <a href="#">
                                  <span class="fa fa-stop-circle"></span> Live Streams</a>
                          </li>
                          <li>
                              <a href="#">
                                  <span class="fas fa-bullhorn"></span> Adverts</a>
                          </li>
                          <li>
                              <a href="#">
                                  <span class="fas fa-bell"></span> Promotions</a>
                          </li>
                          <li>
                              <a href="#">
                                  <span class="fa fa-play-circle"></span> Videos</a>
                          </li>
                          <li>
                              <a href="dashboard.html" data-target="#myModal3" data-toggle="modal">
                                  <span class="fa fa-credit-card"></span> Wallet</a>
                          </li>
                          <li>
                              <a href="#" data-target="#myModal3" data-toggle="modal">
                                  <span class="fa fa-briefcase"></span> Withdrawals</a>
                          </li>
                          <li>
                              <a routerLink="/dashboard/settings">
                                  <span class="fa fa-cog"></span> Settings</a>
                          </li>
                      </ul>
                      <!-- end /.dashboard_menu -->
                  </div>
                  <!-- end /.col-md-12 -->
              </div>
              <!-- end /.row -->
          </div>
          <!-- end /.container -->
      </div>
      <!-- end /.dashboard_menu_area -->


                  <!-- breadcrumb -->
                  <div class="gen-breadcrumb" style="background-image: url('images/background/asset-25.jpeg');">
                      <div class="container">
                          <div class="row align-items-center">
                              <div class="col-lg-12">
                                  <nav aria-label="breadcrumb">
                                      <div class="gen-breadcrumb-title">
                                          <!-- <h1>YOUR CHANNELS </h1> -->
                                      </div>
                                      <div class="gen-breadcrumb-container">
                                          <ol class="breadcrumb">
                                              <li class="breadcrumb-item"><a routerLink="/dashboard/">
                                                <i class="fas fa-cog mr-2"></i>Dashboard</a></li>
                                                <li class="breadcrumb-item active">Your Channels</li>
                                          </ol>
                                      </div>
                                  </nav>
                              </div>
                          </div>
                      </div>
                  </div>
                  <!-- breadcrumb -->


    <!-- Blog-Right-Sidebar -->
    <section class="gen-section-padding-3">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 col-md-12">
                    <div class="gen-blog gen-blog-col-1">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="gen-blog-post">
                                    <div class="gen-post-media">
                                        <img src="/assets/images/video-thumbnail-16.jpeg" alt="cs-image" loading="lazy">
                                    </div>
                                    <div class="gen-blog-contain">
                                        <div class="gen-post-meta">
                                          <ul>
                                            <li class="gen-post-author"><i class="fa fa-eye"></i>19m Views</li>
                                            <li class="gen-post-meta"><a href="#"><i class="fa fa-thumbs-up"></i>58261 Likes</a>
                                            </li>
                                        </ul>
                                        </div>
                                        <h5 class="gen-cs-title"><a href="#">Stream like</a></h5>
                                        <div class="gen-btn-container">
                                          <button class="btn btn--default btn--bordered"><i class="fa fa-video"></i> Visit Channel</button>
                                      </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="gen-blog-post">
                                    <div class="gen-post-media">
                                        <img src="/assets/images/video-thumbnail-16.jpeg" alt="gen-cs-image" loading="lazy">
                                    </div>
                                    <div class="gen-blog-contain">
                                        <div class="gen-post-meta">
                                          <ul>
                                            <li class="gen-post-author"><i class="fa fa-eye"></i>17920 Views</li>
                                            <li class="gen-post-meta"><a href="#"><i class="fa fa-thumbs-up"></i>456k Likes</a>
                                            </li>
                                        </ul>
                                        </div>
                                        <h5 class="gen-cs-title"><a href="#">live streams</a></h5>
                                        <div class="gen-btn-container">
                                          <button class="btn btn--default btn--bordered"><i class="fa fa-video"></i> Visit Channel</button>
                                      </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4">
                              <div class="gen-blog-post">
                                  <div class="gen-post-media">
                                      <img src="/assets/images/video-thumbnail-16.jpeg" alt="gen-cs-image" loading="lazy">
                                  </div>
                                  <div class="gen-blog-contain">
                                      <div class="gen-post-meta">
                                          <ul>
                                              <li class="gen-post-author"><i class="fa fa-eye"></i>4271 Views</li>
                                              <li class="gen-post-meta"><a href="#"><i class="fa fa-thumbs-up"></i>652 Likes</a>
                                              </li>
                                          </ul>
                                      </div>
                                      <h5 class="gen-cs-title"><a href="#">live streams</a></h5>
                                      <div class="gen-btn-container">
                                        <button class="btn btn--default btn--bordered"><i class="fa fa-video"></i> Visit Channel</button>
                                    </div>
                                  </div>
                              </div>
                          </div>

                           <!--Start Channel_badge-->
                              <div class="col-md-12">
                                      <div class="single_speaker">
                                          <div class="speaker__thumbnail">
                                              <img src="/assets/images/Channel-Avator-vplay.png" alt="gen-cs-image" loading="lazy">
                                          </div>
                                          <div class="speaker__detail">
                                              <h5 class="gen-cs-title"><a href="#">WildLife TV</a></h5>
                                            <div class="gen-react-item">
                                               <span class="gen-cs-views"><i class="fa fa-eye"></i>4271 Views</span>
                                                <span class="gen-cs-likes"><a href="#"><i class="fa fa-thumbs-up"></i>652 Likes</a> </span>
                                            </div>

                                            <div class="gen-btn-container">
                                                <a routerLink="#" class="link"><i class="fa fa-video"></i> Visit Channel</a>
                                          </div>
                                      </div>
                                    </div>
                                      <!--End Channel_badge-->

                                     <!--Start Channel_badge-->
                                      <div class="single_speaker">
                                        <div class="speaker__thumbnail">
                                            <img src="/assets/images/Channel-Avator-vplay.png" alt="gen-cs-image" loading="lazy">
                                        </div>
                                        <div class="speaker__detail">
                                            <h5 class="gen-cs-title"><a href="#">WildLife TV</a></h5>
                                          <div class="gen-react-item">
                                             <span class="gen-cs-views"><i class="fa fa-eye"></i>4271 Views</span>
                                              <span class="gen-cs-likes"><a href="#"><i class="fa fa-thumbs-up"></i>652 Likes</a> </span>
                                          </div>

                                          <div class="gen-btn-container">
                                              <a routerLink="#" class="link"><i class="fa fa-video"></i> Visit Channel</a>
                                        </div>
                                    </div>
                                  </div>
                                    <!--End Channel_badge-->

                                  <div class="single_speaker">
                                    <div class="speaker__thumbnail">
                                        <img src="/assets/images/Channel-Avator-vplay.png" alt="gen-cs-image" loading="lazy">
                                    </div>
                                    <div class="speaker__detail">
                                        <h5 class="gen-cs-title"><a href="#">WildLife TV</a></h5>
                                      <div class="gen-react-item">
                                         <span class="gen-cs-views"><i class="fa fa-eye"></i>4271 Views</span>
                                          <span class="gen-cs-likes"><a href="#"><i class="fa fa-thumbs-up"></i>652 Likes</a> </span>
                                      </div>

                                      <div class="gen-btn-container">
                                          <a routerLink="#" class="link"><i class="fa fa-video"></i> Visit Channel</a>
                                    </div>
                                </div>
                              </div>
                                <!--End Channel_badge-->

                                <div class="single_speaker">
                                  <div class="speaker__thumbnail">
                                      <img src="/assets/images/Channel-Avator-vplay.png" alt="gen-cs-image" loading="lazy">
                                  </div>
                                  <div class="speaker__detail">
                                      <h5 class="gen-cs-title"><a href="#">WildLife TV</a></h5>
                                    <div class="gen-react-item">
                                       <span class="gen-cs-views"><i class="fa fa-eye"></i>4271 Views</span>
                                        <span class="gen-cs-likes"><a href="#"><i class="fa fa-thumbs-up"></i>652 Likes</a> </span>
                                    </div>

                                    <div class="gen-btn-container">
                                        <a routerLink="#" class="link"><i class="fa fa-video"></i> Visit Channel</a>
                                  </div>
                              </div>
                            </div>
                              <!--End Channel_badge-->
                                  </div>
                                  <!-- end /.event_module -->

                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="gen-pagination">
                                    <button class="btn btn--default">View All <i class="fa fa-arrow-circle-right"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-12 mt-4 mt-xl-0">
                    <div class="widget widget_most-views">
                        <h2 class="widget-title"><i class="fa fa-video"></i> Top Most Viewed</h2>
                        <ul id="top-viewd-channels">
                          <li><i class="fa fa-arrow-right"></i><a href="#">Love In 21st...</a><span class="pull-right active-likes">129k</span></li>
                          <li><i class="fa fa-arrow-right"></i><a href="#">My Generation...</a><span class="pull-right active-likes">5M</span></li>
                          <li><i class="fa fa-arrow-right"></i><a href="#">the giant ship...</a><span class="pull-right active-likes">92k</span></li>
                          <li><i class="fa fa-arrow-right"></i><a href="#">Gnome Alone...</a><span class="pull-right active-likes">84k</span></li>
                          <li><i class="fa fa-arrow-right"></i><a href="#">Kimozy Dragon...</a><span class="pull-right active-likes">17M</span></li>
                      </ul>
                    </div>
                    <div class="widget widget_top-channels">
                        <h2 class="widget-title"><i class="fa fa-play-circle"></i> Top 5 Channels</h2>
                        <ul id="top-five-channels">
                            <li><img src="assets/images/comavatar2.jpg" width="45" alt="user avatar"><a href="#">WildLife TV</a></li>
                            <li><img src="assets/images/comavatar2.jpg" width="45" alt="user avatar"><a href="#">PowerLine TV</a></li>
                            <li><img src="assets/images/comavatar2.jpg" width="45" alt="user avatar"><a href="#">Dreams TV</a></li>
                            <li><img src="assets/images/comavatar2.jpg" width="45" alt="user avatar"><a href="#">YouNEye TV</a></li>
                            <li><img src="assets/images/comavatar2.jpg" width="45" alt="user avatar"><a href="#">TutorialZine TV</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- left-Sidebar -->

  <!--================================
        START FOOTER AREA
    =================================-->
    <footer id="gen-footer">
      <div class="gen-footer-style-1">
        <div class="gen-footer-top main">

          <div class="gen-copyright-footer">
            <div class="container">
              <div class="row">
                <div class="col-lg-8 align-self-left">
                  <img src="assets/images/logo-2.png" class="gen-footer-logo">
                </div>
                <div class="col-lg-4">
                  <p><span class="gen-copyright align-self-right" style="float:right;"> Copyright @ 2021 CStream - All
                      Rights
                      Reserved.</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Main Footer End -->

        <!-- Back-to-Top start -->
        <div id="back-to-top">
          <a class="top" id="top" href="#top"> <i class="ion-ios-arrow-up"></i> </a>
        </div>
        <!-- Back-to-Top end -->
      </div>
