<!--========== Header ==============-->
<app-navbar></app-navbar>
<!--========== Header ==============-->

<!-- Video-Playback Starts -->
<ng-container *ngIf="details$ ; else spinner">
  <section class="position-relative" id="gen-section-custom">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="gen-tv-show-wrapper">
            <div class="gen-tv-show-top">
              <div class="row">
                <div class="col-lg-8">
                  <!-- <div class="gentech-tv-show-img-holder"> -->
                  <video preload="auto" width="auto" id="video-player" poster="" playsinline controls>
                    <source [src]="details$.link" type="video/mp4">
                  </video>
                </div>
                <!-- </div> -->
                <div class="col-lg-4 align-self-center">
                  <div class="gen-single-tv-show-info">
                    <h2 class="gen-title">{{details$.title}}
                    </h2>
                    <div class="gen-single-meta-holder">
                      <ul>
                        <img class="channel-avator" [src]="details$.channel?.cover">
                        <li class="channel-name-vplay">
                          <a href="#"><span>{{details$.channel?.name}}</span></a>
                        </li>
                        <li class="channel-subscribe-btn">
                          <ng-container *ngIf="sub; else notSub">
                            <button mat-raised-button disabled>Subscribed</button>
                          </ng-container>
                          <ng-template #notSub>
                            <button mat-raised-button color="warn" (click)="channelSub(details$._id)"><i
                                class="fas fa-bell" style="color:#fff;"></i> Subscribe</button>
                          </ng-template>

                          <!-- <a><i class="fas fa-bell"></i><span>Subscribe</span></a> -->
                        </li>
                        <li><i id="views-id" class="fas fa-eye"></i>
                          <span id="views-id">{{details$.views}} Views</span>
                        </li>
                      </ul>
                    </div>
                    <p>{{details$.description}}
                    </p>
                    <div class="gen-socail-share mt-0">
                      <h4 class="align-self-center on-dark">Share:</h4>
                      <ul class="social-inner">
                        <li><a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li><a href="#" class="facebook"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#" class="like-thumb"><i class="fas fa-thumbs-up"></i></a> {{details$.likes}} Likes
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="gen-season-holder" style="margin-bottom:0px">
              <button class="btn btn-primary mr-3" routerLink="/auth/home/">
                <i class="flaticon2-bell"></i> Place Your Ad
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</ng-container>
<ng-template #spinner>
  <app-spinner></app-spinner>
</ng-template>

<!-- Section-1 Start -->
<!--<section class="gen-section-padding-3" style="padding-top:0px;">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="pm-inner">
          <div class="gen-more-like">
            <h5 class="gen-more-title">Popular This Week</h5>
            <div class="row">
              <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="gen-carousel-movies-style-3 movie-grid style-3">
                  <div class="gen-movie-contain">
                    <div class="gen-movie-img">
                      <img src="assets/images/video-thumbnail-18.jpeg" alt="streamlab-image">
                      <div class="gen-movie-add">
                        <div class="wpulike wpulike-heart">
                          <div class="wp_ulike_general_class wp_ulike_is_not_liked"><button type="button"
                              class="wp_ulike_btn wp_ulike_put_image"></button>
                          </div>
                        </div>
                        <ul class="menu bottomRight">
                          <li class="share top">
                            <i class="fa fa-share-alt"></i>
                            <ul class="submenu">
                              <li><a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a>
                              </li>
                              <li><a href="#" class="facebook"><i class="fab fa-instagram"></i></a>
                              </li>
                              <li><a href="#" class="facebook"><i class="fab fa-twitter"></i></a></li>
                            </ul>
                          </li>
                        </ul>
                      </div>
                      <div class="gen-movie-action">
                        <a routerLink="/watch/u/1" class="gen-button">
                          <i class="fa fa-play"></i>
                        </a>
                      </div>
                    </div>
                    <div class="gen-info-contain">
                      <div class="gen-movie-info">
                        <h3><a href="#">The warrior life</a></h3>
                      </div>
                      <div class="gen-movie-meta-holder">
                        <ul>
                          <li>
                            <a href="channel.html"><span><i class="fa fa-tv channel-icon"></i> Zoe TV</span></a>
                          </li>
                          <li><i class="fa fa-eye"></i><span>158k Views</span></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="gen-carousel-movies-style-3 movie-grid style-3">
                  <div class="gen-movie-contain">
                    <div class="gen-movie-img">
                      <img src="assets/images/video-thumbnail-17.jpeg" alt="streamlab-image">
                      <div class="gen-movie-add">
                        <div class="wpulike wpulike-heart">
                          <div class="wp_ulike_general_class wp_ulike_is_not_liked"><button type="button"
                              class="wp_ulike_btn wp_ulike_put_image"></button>
                          </div>
                        </div>
                        <ul class="menu bottomRight">
                          <li class="share top">
                            <i class="fa fa-share-alt"></i>
                            <ul class="submenu">
                              <li><a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a>
                              </li>
                              <li><a href="#" class="facebook"><i class="fab fa-instagram"></i></a>
                              </li>
                              <li><a href="#" class="facebook"><i class="fab fa-twitter"></i></a></li>
                            </ul>
                          </li>
                        </ul>
                      </div>
                      <div class="gen-movie-action">
                        <a href="#" class="gen-button">
                          <i class="fa fa-play"></i>
                        </a>
                      </div>
                    </div>
                    <div class="gen-info-contain">
                      <div class="gen-movie-info">
                        <h3><a href="#">Thieve the bank</a></h3>
                      </div>
                      <div class="gen-movie-meta-holder">
                        <ul>
                          <li>
                            <a href="channel.html"><span><i class="fa fa-tv channel-icon"></i> Zoe TV</span></a>
                          </li>
                          <li><i class="fa fa-eye"></i><span>158k Views</span></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="gen-carousel-movies-style-3 movie-grid style-3">
                  <div class="gen-movie-contain">
                    <div class="gen-movie-img">
                      <img src="assets/images/video-thumbnail-16.jpeg" alt="streamlab-image">
                      <div class="gen-movie-add">
                        <div class="wpulike wpulike-heart">
                          <div class="wp_ulike_general_class wp_ulike_is_not_liked"><button type="button"
                              class="wp_ulike_btn wp_ulike_put_image"></button>
                          </div>
                        </div>
                        <ul class="menu bottomRight">
                          <li class="share top">
                            <i class="fa fa-share-alt"></i>
                            <ul class="submenu">
                              <li><a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a>
                              </li>
                              <li><a href="#" class="facebook"><i class="fab fa-instagram"></i></a>
                              </li>
                              <li><a href="#" class="facebook"><i class="fab fa-twitter"></i></a></li>
                            </ul>
                          </li>
                        </ul>
                      </div>
                      <div class="gen-movie-action">
                        <a href="#" class="gen-button">
                          <i class="fa fa-play"></i>
                        </a>
                      </div>
                    </div>
                    <div class="gen-info-contain">
                      <div class="gen-movie-info">
                        <h3><a href="#">love your life</a></h3>
                      </div>
                      <div class="gen-movie-meta-holder">
                        <ul>
                          <li>
                            <a href="channel.html"><span><i class="fa fa-tv channel-icon"></i> Zoe TV</span></a>
                          </li>
                          <li><i class="fa fa-eye"></i><span>158k Views</span></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="gen-carousel-movies-style-3 movie-grid style-3">
                  <div class="gen-movie-contain">
                    <div class="gen-movie-img">
                      <img src="assets/images/video-thumbnail-15.png" alt="streamlab-image">
                      <div class="gen-movie-add">
                        <div class="wpulike wpulike-heart">
                          <div class="wp_ulike_general_class wp_ulike_is_not_liked"><button type="button"
                              class="wp_ulike_btn wp_ulike_put_image"></button>
                          </div>
                        </div>
                        <ul class="menu bottomRight">
                          <li class="share top">
                            <i class="fa fa-share-alt"></i>
                            <ul class="submenu">
                              <li><a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a>
                              </li>
                              <li><a href="#" class="facebook"><i class="fab fa-instagram"></i></a>
                              </li>
                              <li><a href="#" class="facebook"><i class="fab fa-twitter"></i></a></li>
                            </ul>
                          </li>
                        </ul>
                      </div>
                      <div class="gen-movie-action">
                        <a href="#" class="gen-button">
                          <i class="fa fa-play"></i>
                        </a>
                      </div>
                    </div>
                    <div class="gen-info-contain">
                      <div class="gen-movie-info">
                        <h3><a href="#">my generation</a></h3>
                      </div>
                      <div class="gen-movie-meta-holder">
                        <ul>
                          <li>
                            <a href="channel.html"><span><i class="fa fa-tv channel-icon"></i> Zoe TV</span></a>
                          </li>
                          <li><i class="fa fa-eye"></i><span>158k Views</span></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="gen-carousel-movies-style-3 movie-grid style-3">
                  <div class="gen-movie-contain">
                    <div class="gen-movie-img">
                      <img src="assets/images/video-thumbnail-14.png" alt="streamlab-image">
                      <div class="gen-movie-add">
                        <div class="wpulike wpulike-heart">
                          <div class="wp_ulike_general_class wp_ulike_is_not_liked"><button type="button"
                              class="wp_ulike_btn wp_ulike_put_image"></button>
                          </div>
                        </div>
                        <ul class="menu bottomRight">
                          <li class="share top">
                            <i class="fa fa-share-alt"></i>
                            <ul class="submenu">
                              <li><a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a>
                              </li>
                              <li><a href="#" class="facebook"><i class="fab fa-instagram"></i></a>
                              </li>
                              <li><a href="#" class="facebook"><i class="fab fa-twitter"></i></a></li>
                            </ul>
                          </li>
                        </ul>
                      </div>
                      <div class="gen-movie-action">
                        <a href="#" class="gen-button">
                          <i class="fa fa-play"></i>
                        </a>
                      </div>
                    </div>
                    <div class="gen-info-contain">
                      <div class="gen-movie-info">
                        <h3><a href="#">spaceman the voyager</a></h3>
                      </div>
                      <div class="gen-movie-meta-holder">
                        <ul>
                          <li>
                            <a href="channel.html"><span><i class="fa fa-tv channel-icon"></i> Zoe TV</span></a>
                          </li>
                          <li><i class="fa fa-eye"></i><span>158k Views</span></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="gen-carousel-movies-style-3 movie-grid style-3">
                  <div class="gen-movie-contain">
                    <div class="gen-movie-img">
                      <img src="assets/images/video-thumbnail-13.png" alt="streamlab-image">
                      <div class="gen-movie-add">
                        <div class="wpulike wpulike-heart">
                          <div class="wp_ulike_general_class wp_ulike_is_not_liked"><button type="button"
                              class="wp_ulike_btn wp_ulike_put_image"></button>
                          </div>
                        </div>
                        <ul class="menu bottomRight">
                          <li class="share top">
                            <i class="fa fa-share-alt"></i>
                            <ul class="submenu">
                              <li><a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a>
                              </li>
                              <li><a href="#" class="facebook"><i class="fab fa-instagram"></i></a>
                              </li>
                              <li><a href="#" class="facebook"><i class="fab fa-twitter"></i></a></li>
                            </ul>
                          </li>
                        </ul>
                        <div class="movie-actions--link_add-to-playlist dropdown">
                          <a class="dropdown-toggle" href="#" data-toggle="dropdown"><i class="fa fa-plus"></i></a>
                        </div>
                      </div>
                    </div>
                    <div class="gen-info-contain">
                      <div class="gen-movie-info">
                        <h3><a href="#">The last witness</a></h3>
                      </div>
                      <div class="gen-movie-meta-holder">
                        <ul>
                          <li>
                            <a href="channel.html"><span><i class="fa fa-tv channel-icon"></i> Zoe TV</span></a>
                          </li>
                          <li><i class="fa fa-eye"></i><span>158k Views</span></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="gen-carousel-movies-style-3 movie-grid style-3">
                  <div class="gen-movie-contain">
                    <div class="gen-movie-img">
                      <img src="assets/images/video-thumbnail-12.png" alt="streamlab-image">
                      <div class="gen-movie-add">
                        <div class="wpulike wpulike-heart">
                          <div class="wp_ulike_general_class wp_ulike_is_not_liked"><button type="button"
                              class="wp_ulike_btn wp_ulike_put_image"></button>
                          </div>
                        </div>
                        <ul class="menu bottomRight">
                          <li class="share top">
                            <i class="fa fa-share-alt"></i>
                            <ul class="submenu">
                              <li><a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a>
                              </li>
                              <li><a href="#" class="facebook"><i class="fab fa-instagram"></i></a>
                              </li>
                              <li><a href="#" class="facebook"><i class="fab fa-twitter"></i></a></li>
                            </ul>
                          </li>
                        </ul>
                      </div>
                      <div class="gen-movie-action">
                        <a href="#" class="gen-button">
                          <i class="fa fa-play"></i>
                        </a>
                      </div>
                    </div>
                    <div class="gen-info-contain">
                      <div class="gen-movie-info">
                        <h3><a href="#">shimu the elephant</a></h3>
                      </div>
                      <div class="gen-movie-meta-holder">
                        <ul>
                          <li>
                            <a href="channel.html"><span><i class="fa fa-tv channel-icon"></i> Zoe TV</span></a>
                          </li>
                          <li><i class="fa fa-eye"></i><span>158k Views</span></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="gen-carousel-movies-style-3 movie-grid style-3">
                  <div class="gen-movie-contain">
                    <div class="gen-movie-img">
                      <img src="assets/images/video-thumbnail-11.png" alt="streamlab-image">
                      <div class="gen-movie-add">
                        <div class="wpulike wpulike-heart">
                          <div class="wp_ulike_general_class wp_ulike_is_not_liked"><button type="button"
                              class="wp_ulike_btn wp_ulike_put_image"></button>
                          </div>
                        </div>
                        <ul class="menu bottomRight">
                          <li class="share top">
                            <i class="fa fa-share-alt"></i>
                            <ul class="submenu">
                              <li><a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a>
                              </li>
                              <li><a href="#" class="facebook"><i class="fab fa-instagram"></i></a>
                              </li>
                              <li><a href="#" class="facebook"><i class="fab fa-twitter"></i></a></li>
                            </ul>
                          </li>
                        </ul>
                      </div>
                      <div class="gen-movie-action">
                        <a href="#" class="gen-button">
                          <i class="fa fa-play"></i>
                        </a>
                      </div>
                    </div>
                    <div class="gen-info-contain">
                      <div class="gen-movie-info">
                        <h3><a href="#">black water</a></h3>
                      </div>
                      <div class="gen-movie-meta-holder">
                        <ul>
                          <li>
                            <a href="channel.html"><span><i class="fa fa-tv channel-icon"></i> Zoe TV</span></a>
                          </li>
                          <li><i class="fa fa-eye"></i><span>158k Views</span></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-12">
      <div class="gen-load-more-button">
        <div class="gen-btn-container">
          <a class="gen-button gen-button-loadmore" href="#">
            <span class="button-text">Load More</span>
            <span class="loadmore-icon" style="display: none;"><i class="fa fa-spinner fa-spin"></i></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>-->
<!-- Section-1 End -->


<!-- Footer Top Starts -->
<app-footer></app-footer>
<!-- Main Footer End -->
