<!-- <div class="preload dashboard-page has_chart"> -->
<!--================================
            START SIGNUP AREA
    =================================-->
<section class="section--padding2 bgcolor">
  <div class="shortcode_wrapper">
    <div class="container">

      <div class="row">
        <div class="col-md-9">
          <div class="shortcode_modules">
            <div class="tab tab4">
              <div class="item-navigation">
                <ul class="nav nav-tabs nav--tabs2">
                  <li>
                    <a href="#tc5" class="active" aria-controls="tc5" role="tab" data-toggle="tab">
                      <span class="fa fa-user"></span> Personal Info.
                    </a>
                  </li>
                  <li>
                    <a href="#tc6" aria-controls="tc6" role="tab" data-toggle="tab">
                      <span class="fa fa-credit-card"></span> Contact Info.
                    </a>
                  </li>

                  <li>
                    <a href="#tc7" aria-controls="tc7" role="tab" data-toggle="tab">
                      <span class="fa fa-envelope"></span> Bank Details
                    </a>
                  </li>

                  <li>
                    <a href="#tc8" aria-controls="tc8" role="tab" data-toggle="tab">
                      <span class="fa fa-user"></span> Settings
                    </a>
                  </li>
                </ul>
              </div>
              <!-- end /.item-navigation -->

              <div class="tab-content">
                <div class="tab-pane fade show product-tab active" id="tc5">
                  <div class="support">
                    <div class="support__title">
                      <h3> Personal Information
                      </h3>
                    </div>
                    <div class="information_wrapper form--fields">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="first_name">First Name
                              <sup>*</sup>
                            </label>
                            <input type="text" id="first_name" class="text_field" placeholder="first name">
                          </div>
                        </div>

                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="last_name">last Name
                              <sup>*</sup>
                            </label>
                            <input type="text" id="last_name" class="text_field" placeholder="last name">
                          </div>
                        </div>
                      </div>
                      <!-- end /.row -->

                      <div class="form-group">
                        <label for="email1">Email Adress
                          <sup>*</sup>
                        </label>
                        <input type="text" id="email1" class="text_field" placeholder="Email address">
                      </div>

                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="city"> Date Of Birth
                              <sup>*</sup>
                            </label>
                            <div class="select-wrap select-wrap2">
                              <select name="city" id="city" class="text_field">
                                <option value="">Select Type</option>
                                <option value="">Passport</option>
                                <option value="">Drivers licence</option>
                                <option value="">Votes</option>
                                <option value="">National ID</option>
                                <option value="">Others</option>
                              </select>
                              <span class="fa fa-chevron-down"></span>
                            </div>
                          </div>
                        </div>

                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="city"> Identification Type
                              <sup>*</sup>
                            </label>
                            <div class="select-wrap select-wrap2">
                              <select name="city" id="city" class="text_field">
                                <option value="">Select Type</option>
                                <option value="">Passport</option>
                                <option value="">Drivers licence</option>
                                <option value="">Votes</option>
                                <option value="">National ID</option>
                                <option value="">Others</option>
                              </select>
                              <span class="fa fa-chevron-down"></span>
                            </div>
                          </div>
                        </div>

                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="city"> Gender
                              <sup>*</sup>
                            </label>
                            <div class="select-wrap select-wrap2">
                              <select name="city" id="city" class="text_field">
                                <option value="">Male</option>
                                <option value="">Female</option>
                                <option value="">Prefere Not Disclose</option>
                              </select>
                              <span class="fa fa-chevron-down"></span>
                            </div>
                          </div>
                        </div>

                        <div class="col-md-6">
                          <!-- <div class="form-group">
                                                        <div class="upload_wrapper"> -->
                          <label for="thumbnail"> Upload ID Card
                            <sup>*</sup>
                          </label>
                          <div class="custom_upload">
                            <label for="thumbnail">
                              <input type="file" id="thumbnail" class="files">
                              <span class="btn btn--bordered btn-sm btn-dark">Choose File</span>
                            </label>
                          </div>
                          <!-- end /.custom_upload -->
                          <!-- </div> -->
                          <!-- end /.upload_wrapper -->
                          <!-- </div> -->
                        </div>
                      </div>
                      <button type="submit" id="btn-submit" class="btn btn--lg btn--round">Save Personal Info</button>
                    </div>
                  </div>
                </div>
                <!-- end /.tab-content -->

                <div class="tab-pane fade product-tab" id="tc6">
                  <div class="support">
                    <div class="support__title">
                      <h3> Address / Contact
                      </h3>
                    </div>
                    <div class="information_wrapper form--fields">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="first_name"> line 1:
                              <sup>*</sup>
                            </label>
                            <input type="text" id="address_1" class="text_field" placeholder=" Enter Address">
                          </div>
                        </div>

                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="last_name"> line 2:
                              <sup>*</sup>
                            </label>
                            <input type="text" id="address_2" class="text_field" placeholder="Enter Address">
                          </div>
                        </div>
                      </div>
                      <!-- end /.row -->

                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="last_name">Town / City
                              <sup>*</sup>
                            </label>
                            <input type="text" id="city" class="text_field" placeholder="Enter City">
                          </div>
                        </div>

                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="country"> Select Country
                              <sup>*</sup>
                            </label>
                            <div class="select-wrap select-wrap2">
                              <select name="city" id="city" class="text_field">
                                <option value="">Select Type</option>
                                <option value="">Passport</option>
                                <option value="">Drivers licence</option>
                                <option value="">Votes</option>
                                <option value="">National ID</option>
                                <option value="">Others</option>
                              </select>
                              <span class="fa fa-chevron-down"></span>
                            </div>
                          </div>
                        </div>

                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="last_name">Postcode:
                              <sup>*</sup>
                            </label>
                            <input type="text" id="post_no" class="text_field" placeholder="Enter Postcode"
                              value="+233">
                          </div>
                        </div>

                        <div class="col-md-6">
                          <div class="form-group">
                            <div class="upload_wrapper">
                              <br><br>
                              <div class="pms-remember-me">
                                <p><input type="checkbox" name="accept-recaptcha">Save the above info as Mailing
                                  address...</p>
                              </div>
                              <!-- end /.custom_upload -->
                            </div>
                            <!-- end /.upload_wrapper -->
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-12">
                          <br><br>
                          <div class="pms-remember-me">
                            <p>Mailing Address...</p>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="acname"> line 1:
                          <sup>*</sup>
                        </label>
                        <input type="text" id=" line1" class="text_field" placeholder="Enter line 1">
                      </div>

                      <div class="form-group">
                        <label for="acname">line 2
                          <sup>*</sup>
                        </label>
                        <input type="text" id=" line2" class="text_field" placeholder="Enter line 2">
                      </div>

                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="last_name">Email:
                              <sup>*</sup>
                            </label>
                            <input type="text" id="city" class="text_field" placeholder="Enter Email">
                          </div>
                        </div>

                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="last_name">Email Alt:
                              <sup>*</sup>
                            </label>
                            <input type="text" id="post_no" class="text_field" placeholder="Enter Email">
                          </div>
                        </div>

                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="last_name">Phone 1:
                              <sup>*</sup>
                            </label>
                            <input type="text" id="post_no" class="text_field" placeholder="Enter Phone No."
                              value="+233">
                          </div>
                        </div>

                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="last_name">Phone 2:
                              <sup>*</sup>
                            </label>
                            <input type="text" id="post_no" class="text_field" placeholder="Enter Phone No."
                              value="+233">
                          </div>
                        </div>

                        <div class="col-md-6">
                          <div class="form-group">
                            <div class="upload_wrapper">
                              <!-- end /.custom_upload -->
                            </div>
                            <button type="submit" id="btn-submit" class="btn btn--lg btn--round">Save Address
                              Info.</button>
                            <!-- end /.upload_wrapper -->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- end /.tab-content -->
                </div>
                <!-- end /.product-support -->

                <div class="tab-pane fade product-tab" id="tc7">
                  <div class="support">
                    <div class="support__title">
                      <h3>Payment Information
                      </h3>
                    </div>
                    <div class="support__form">
                      <div class="usr-msg">

                        <form action="#" class="support_form">
                          <div class="form-group">
                            <label for="subj">Mobile Money No.</label>
                            <input type="text" id="subj" class="text_field" placeholder="Enter MoMo No.">
                          </div>

                          <div class="form-group">
                            <label for="supmsg">Credit/Debit Cards: </label>
                            <input type="text" id="subj" class="text_field" placeholder="Card 1">
                            <input type="text" id="subj" class="text_field" placeholder="Card 2">
                            <input type="text" id="subj" class="text_field" placeholder="Card 3">
                          </div>


                          <div class="form-group">
                            <label for="country"> Select Your Bank
                              <sup>*</sup>
                            </label>
                            <div class="select-wrap select-wrap2">
                              <select name="city" id="city" class="text_field">
                                <option value="">ABSA BANK</option>
                                <option value="">ADB</option>
                                <option value="">HSBC PlC</option>
                                <option value="">Cal Bank</option>
                                <option value="">NIB</option>
                                <option value="">UMB</option>
                                <option value="">Others</option>
                              </select>
                              <span class="fa fa-chevron-down" style="margin-top: 4% !important;"></span>
                            </div>
                          </div>

                          <div class="form-group">
                            <label for="subj">Bank Account No.</label>
                            <input type="text" id="subj" class="text_field" placeholder="Enter Account No.">
                          </div>

                          <div class="pt-20">
                            <button type="submit" id="btn-submit" class="btn btn--lg btn--round">Save Payment
                              Info</button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- end /.tab-content -->

                <div class="tab-pane fade product-tab" id="tc8">
                  <div class="support">
                    <div class="support__title">
                      <h3>Account Settings
                      </h3>
                    </div>
                    <p>This feature will be implemented later.</p>
                  </div>
                  <!-- end /.tab-content -->
                </div>
                <!-- end /.tab-content -->
              </div>
            </div>
          </div>
          <!-- end .col-md-6 -->
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="shortcode_modules">
            <div class="tab tab4">
              <div class="support__title">
                <h3> Personal Info.</h3>
              </div>
              <br>
              <p><label for="Emails">First Name:</label>
              <p>

              <p><label for="Emails">last Name:</label>
              <p>

              <p><label for="Emails">First Name:</label>
              <p>

              <p><label for="Emails">last Name:</label>
              <p>

              <p><label for="Emails">First Name:</label>
              <p>

              <p>Nunc placerat mi id nisi interdum mollis. Praesent pharetra,
                justo ut scelerisque the mattis, leo quam aliquet congue placerat
                mi id nisi interdum mollis. Praesent pharetra, justo ut scel erisque
                the mattie Praesent pharetra, justo ut scel erisque the mattie Praesent
                pharetra, justo ut scel erisque the mattie Praesent pharetra, justo ut scel.
              </p>
            </div>
          </div>
        </div>
        <!-- end .row -->
      </div>
      <!-- end .container -->
    </div>
  </div>
</section>
<!-- </section> -->
