/*
CreatorsStream CSS / HTML5
Author: --Bismark@Asare
Version: 1.0
Design and Developed by: Author
Copyright: 2021 - CreatorsStream
*/
@media (max-width:1499px) {
	.gen-appstore-logo, .gen-playstore-logo { height: 38px; }
}