<!--========== Header ==============-->
<app-navbar></app-navbar>
<!--========== Header ==============-->

<section class="breadcrumb-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="breadcrumb">
          <div class="channel-profile">
            <img class="channel-profile-img" alt="" src="assets/images/Channel-Avator-vplay.png">
            <div class="social hidden-xs">&nbsp;
              <!-- <h1 class="page-title">Manage Item</h1> -->
              <a class="page-title">{{channelVideos.name}} <span>
                <i class="fas fa-check-circle text-success"></i></span></a>
            </div>
            <div class="social-ff social-iconz">
              <!-- <span class="channel-brand"> &nbsp;</span> -->
              <a class="fb" href="#">&nbsp; <i class="fab fa-facebook"></i> Facebook</a>
              <a class="tw" href="#">&nbsp; <i class="fab fa-twitter"></i> Twitter</a>
              <a class="gp" href="#">&nbsp; <i class="fab fa-google"></i> Google</a>
            </div>
          </div>
        </div>
      </div>
      <!-- end /.col-md-12 -->
    </div>
    <!-- end /.row -->
  </div>
  <!-- end /.container -->
</section>

<!--================================
            START DASHBOARD AREA
    =================================-->
<ng-container class="dashboard-area" *ngIf="channelVideos; else spinner">
  <div class="dashboard_menu_area">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="dashboard_menu">
            <li>
              <a class="channel-brand">{{channelVideos.name}} <span><i
                    class="fas fa-check-circle text-success"></i></span></a>
            </li>
            <li>
              <a href="#">
                <span class="fa fa-home"></span>&nbsp; Videos</a>
            </li>
            <li>
              <a href="#">
                <span class="fa fa-cog"></span>&nbsp; Playlists</a>
            </li>
            <li>
              <a href="#">
                <span class="fa fa-dice"></span>&nbsp; Discussions</a>
            </li>
            <li>
              <a href="#">
                <span class="fa fa-user"></span>&nbsp; About</a>
            </li>
            <li>
              <a href="#">
                <span class="fa fa-upload"></span>&nbsp; Donate</a>
            </li>
          </ul>
          <!-- end /.dashboard_menu -->
        </div>
        <!-- end /.col-md-12 -->
      </div>
      <!-- end /.row -->
    </div>
    <!-- end /.container -->
  </div>
  <!-- end /.dashboard_menu_area -->

  <div class="dashboard_contents">
    <div class="container">
      <div class="row">
        <!-- start .col-md-3 -->
        <div class="col-xl-3 col-sm-6 mb-3" *ngFor="let videos of channelVideos.videos">
          <div class="channel channel--card">

            <div class="channel__thumbnail">
              <img [src]="channelVideos.cover" alt="Channel Image">
            </div>

            <div class="channel-desc">
              <a routerLink="/dashboard/channels/single/{{channelID}}" class="channel_title">
                <h4>{{channelVideos.name}} <i class="fas fa-check-circle text-success"></i></h4>
              </a>
              <ul class="titlebtm">
                  <li class="video-view"><i class="fas fa-eye"></i> {{videos.views}} Views &nbsp;<i
                    class="flaticon-clock-2"></i>
                  {{Time(videos.createdAt)}}</li>
              </ul>
            </div>
          </div>
        </div>
        <!-- end /.col-md-3 -->

        <!-- start .col-md-3 -->
        <!-- <div class="col-xl-3 col-sm-6 mb-3">
          <div class="channel channel--card">

            <div class="channel__thumbnail">
              <img src="assets/images/video-thumbnail-11.png" alt="Channel Image">
            </div>

            <div class="channel-desc">
              <a href="#" class="channel_title">
                <h4>Mccarther Coffee</h4>
              </a>
              <ul class="titlebtm">
                <li><a class="channel-brand" href="#">Osahan Channel <span><i
                        class="fas fa-check-circle text-success"></i></span></a></li>
                <li class="video-view"><i class="fas fa-eye"></i> 1.8M views &nbsp;<i class="fas fa-calendar-alt"></i>
                  11 Months ago</li>
              </ul>
            </div>
          </div>
        </div> -->
        <!-- end /.col-md-3 -->

        <!-- start .col-md-3 -->
        <!-- <div class="col-xl-3 col-sm-6 mb-3">
          <div class="channel channel--card">

            <div class="channel__thumbnail">
              <img src="assets/images/video-thumbnail-11.png" alt="Channel Image">
            </div>

            <div class="channel-desc">
              <a href="#" class="channel_title">
                <h4>Visibility Manager</h4>
              </a>
              <ul class="titlebtm">
                <li><a class="channel-brand" href="#">Osahan Channel <span><i
                        class="fas fa-check-circle text-success"></i></span></a></li>
                <li class="video-view"><i class="fas fa-eye"></i> 1.8M views &nbsp;<i class="fas fa-calendar-alt"></i>
                  11 Months ago</li>
              </ul>
            </div>
          </div>
        </div> -->
        <!-- end /.col-md-3 -->

        <!-- start .col-md-3 -->
        <!-- <div class="col-xl-3 col-sm-6 mb-3">
          <div class="channel channel--card">

            <div class="channel__thumbnail">
              <img src="assets/images/video-thumbnail-11.png" alt="Channel Image">
            </div>

            <div class="channel-desc">
              <a href="#" class="channel_title">
                <h4>Visibility Manager</h4>
              </a>
              <ul class="titlebtm">
                <li><a class="channel-brand" href="#">Osahan Channel <span><i
                        class="fas fa-check-circle text-success"></i></span></a></li>
                <li class="video-view"><i class="fas fa-eye"></i> 1.8M views &nbsp;<i class="fas fa-calendar-alt"></i>
                  11 Months ago</li>
              </ul>
            </div>
          </div>
        </div> -->
        <!-- end /.col-md-3 -->
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="pagination-area">
            <nav class="navigation pagination" role="navigation">
              <div class="nav-links">
                <a class="prev page-numbers" href="#">
                  <span class="fa fa-arrow-left"></span>
                </a>
                <a class="page-numbers current" href="#">1</a>
                <a class="page-numbers" href="#">2</a>
                <a class="page-numbers" href="#">3</a>
                <a class="next page-numbers" href="#">
                  <span class="fa fa-arrow-right"></span>
                </a>
              </div>
            </nav>
          </div>
          <!-- end /.pagination-area -->
        </div>
        <!-- end /.col-md-12 -->
      </div>
      <!-- end /.row -->
    </div>
    <!-- end /.container -->
  </div>
  <!-- end /.dashboard_menu_area -->
</ng-container>

<ng-template #spinner>
  <app-spinner></app-spinner>
</ng-template>
<!--================================
            END DASHBOARD AREA
    =================================-->

<!-- Footer Top Starts -->
<app-footer></app-footer>
<!-- Main Footer End -->
