<!-- <div class="preload dashboard-page has_chart"> -->
<!--================================
            START DASHBOARD AREA
    =================================-->
<section class="dashboard-area">
  <div class="dashboard_contents">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-3">
          <div class="statement_info_card">
            <div class="info_wrap">
              <span class="fa fa-credit-card icon mcolorbg1"></span>
              <div class="info">
                <p>$4,563</p>
                <span>Account Balance</span>
              </div>
            </div>
            <!-- end /.info_wrap -->
          </div>
        </div>
        <!-- end /.col-md-3 -->

        <div class="col-lg-3 col-md-3">
          <div class="statement_info_card">
            <div class="info_wrap">
              <span class="fa fa-video icon mcolorbg2"></span>
              <div class="info">
                <p>128</p>
                <span>Total Channels</span>
              </div>
            </div>
            <!-- end /.info_wrap -->
          </div>
          <!-- end /.statement_info_card -->
        </div>
        <!-- end /.col-md-3 -->

        <div class="col-lg-3 col-md-3">
          <div class="statement_info_card">
            <div class="info_wrap">
              <span class="fa fa-users icon mcolorbg3"></span>
              <div class="info">
                <p>249k</p>
                <span>Subscriptions</span>
              </div>
            </div>
            <!-- end /.info_wrap -->
          </div>
          <!-- end /.statement_info_card -->
        </div>
        <!-- end /.col-md-3 -->

        <div class="col-lg-3 col-md-3">
          <div class="statement_info_card">
            <div class="info_wrap">
              <span class="fa fa-heart icon mcolorbg4"></span>
              <div class="info">
                <p>758k</p>
                <span>Total Subscribers</span>
              </div>
            </div>
            <!-- end /.info_wrap -->
          </div>
          <!-- end /.statement_info_card -->
        </div>
        <!-- end /.col-md-3 -->
      </div>
      <!-- end /.row -->

      <div class="row">
        <div class="col-lg-12">
          <div class="container dash-content">
            <h5>ACCOUNT DETAILS</h5>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="dashboard_module recent_buyers">
            <div class="dashboard__content">
              <ul>
                <li>
                  <div class="single_buyer">
                    <div class="buyer__thumb_title">
                      <div class="title">
                        <h4>Deposited Funds: <span class="amount text-right">xxx</span></h4>
                        <h4>Earnings (Cashin)</h4>
                        <h4>Subscriptions: xxx</h4>
                        <h4>Advertising: xxx</h4>
                        <h4>Total Earnings: <span class="amount text-right">xxx</span></h4>
                        <h4>Total Funds: <span class="amount text-right">xxx</span></h4>
                      </div>
                    </div>
                  </div>
                </li>

                <li>
                  <div class="single_buyer">
                    <div class="buyer__thumb_title">
                      <div class="title">
                        <h4>Outflow (Cashout)</h4>
                        <h4>Withdrawals: xxx</h4>
                        <h4>Adverts: xxx</h4>
                        <h4>Promos: xxx</h4>
                        <h4>Total Outflow: <span class="amount text-right">xxx</span></h4>
                        <h4>Net Acc. Balance: <span class="amount text-right">xxx</span></h4>
                      </div>
                    </div>
                  </div>
                </li>

                <li>
                  <div class="single_buyer">
                    <div class="buyer__thumb_title">
                      <div class="title">
                        <h4>Total Cash: <span class="amount text-right">xxx.xx</span></h4>
                      </div>
                    </div>
                  </div>
                </li>
                <div class="row">
                  <span><a href="#" class="author-area__seller-btn-alt" data-target="#myModal1" data-toggle="modal">Add
                      Funds</a>
                    <!-- <i class="fa fa-plus" aria-hidden="true"></i> -->
                    <a href="#" data-target="#myModal3" data-toggle="modal" class="author-area__seller-btn">
                      Withdraw</a>
                  </span>
                </div>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="dashboard_module single_item_visitor">
            <div class="dashboard__title">
              <h4>Monthly Channel Visits</h4>
              <div class="pull-right">
                <div class="select-wrap">
                  <select name="months" class="period_selector">
                    <option value="jan">Jan</option>
                    <option value="feb">Feb</option>
                    <option value="mar">Mar</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="dashboard__content">
              <canvas id="single_item_visit"></canvas>

              <div class="item_info">
                <div class="info">
                  <h4 class="indicate">+60%</h4><span>Compared to Last Month</span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="dashboard_module recent_buyers">
            <div class="dashboard__content">
              <ul>
                <li>
                  <div class="single_buyer">
                    <div class="buyer__thumb_title">
                      <div class="title">
                        <h4>TOP CHANNELS</h4>
                      </div>
                    </div>
                  </div>
                </li>

                <li>
                  <div class="single_buyer">
                    <div class="buyer__thumb_title">
                      <div class="title">
                        <img src="assets/images/Channel-Avator-vplay.png" width="45"><span class="top-channel"><a
                            href="#">Tech Hub</a></span>
                      </div>
                    </div>

                    <div class="chan-likes">
                      <span>268k</span>
                    </div>
                  </div>
                </li>

                <li>
                  <div class="single_buyer">
                    <div class="buyer__thumb_title">
                      <div class="title">
                        <img src="assets/images/Channel-Avator-vplay.png" width="45"><span class="top-channel"><a
                            href="#">Dreams Tv</a></span>
                      </div>
                    </div>

                    <div class="chan-likes">
                      <span>19k</span>
                    </div>
                  </div>
                </li>

                <li>
                  <div class="single_buyer">
                    <div class="buyer__thumb_title">
                      <div class="title">
                        <img src="assets/images/Channel-Avator-vplay.png" width="45"><span class="top-channel"><a
                            href="#">Wildlife Tv</a></span>
                      </div>
                    </div>

                    <div class="chan-likes">
                      <span>702k</span>
                    </div>
                  </div>
                </li>

                <li>
                  <div class="single_buyer">
                    <div class="buyer__thumb_title">
                      <div class="title">
                        <img src="assets/images/Channel-Avator-vplay.png" width="45"><span class="top-channel"><a
                            href="#">Wildlife Tv</a></span>
                      </div>
                    </div>

                    <div class="chan-likes">
                      <span>108k</span>
                    </div>
                  </div>
                </li>

                <li>
                  <div class="single_buyer">
                    <div class="buyer__thumb_title">
                      <div class="title">
                        <img src="assets/images/Channel-Avator-vplay.png" width="45"><span class="top-channel"><a
                            href="#">Wildlife Tv</a></span>
                      </div>
                    </div>

                    <div class="chan-likes">
                      <span>108k</span>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>

      </div>
      <!-- end /.row -->


      <div class="row">
        <div class="col-md-6">
          <div class="dashboard_module statistics_module">
            <div class="dashboard__title">
              <h4>Analytics</h4>

              <div class="pull-right">
                <div id="stat_legend" class="legend"></div>
                <div class="select-wrap">
                  <select name="mon" class="period_selector">
                    <option value="jan">Jan</option>
                    <option value="feb">Feb</option>
                    <option value="mar">Mar</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="dashboard__content">
              <canvas id="myChart"></canvas>
              <br>
            </div>
          </div>
        </div>
        <!-- end /.col-md-12 -->

        <div class="col-lg-6">
          <div class="dashboard_module visit_data">
            <div class="dashboard__content">
              <div class="chart_top">
                <div class="v_refer">
                  <ul class="nav nav-tabs" role="tablist">
                    <li>
                      <a href="#visit_source" class="active" aria-controls="visit_source" role="tab"
                        data-toggle="tab">Visit Source</a>
                    </li>
                    <li>
                      <a href="#referrals" aria-controls="referrals" role="tab" data-toggle="tab">Referrals</a>
                    </li>
                  </ul>
                  <div class="select-wrap">
                    <select name="month" class="period_selector">
                      <option value="jan">Jan</option>
                      <option value="feb">Feb</option>
                      <option value="mar">Mar</option>
                    </select>
                  </div>
                </div>

                <div class="charts">
                  <!-- Tab panes -->
                  <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade show active" id="visit_source">
                      <canvas id="piechart"></canvas>

                      <div id="pie-legend" class="legend"></div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade show referrals_data" id="referrals">
                      <ul>
                        <li>
                          <p class="site">google.com</p>
                          <p class="visit">
                            <span>visitors:</span>250
                          </p>
                        </li>

                        <li>
                          <p class="site">Website</p>
                          <p class="visit">
                            <span>visitors:</span>450
                          </p>
                        </li>

                        <li>
                          <p class="site">Others</p>
                          <p class="visit">
                            <span>visitors:</span>341
                          </p>
                        </li>

                        <li>
                          <p class="site">Google</p>
                          <p class="visit">
                            <span>visitors:</span>98
                          </p>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- end /.dashboard_module -->
        </div>
        <!-- end /.col-md-6 -->


        <div class="col-md-12">
          <div class="dashboard_module single_item_visitor">
            <div class="dashboard__title">
              <h4>Total Revenue</h4>
              <div id="visit_legend" class="legend"></div>
            </div>
            <div class="dashboard__content">
              <canvas id="revenue"></canvas>
            </div>
          </div>
        </div>
      </div>
      <!-- end /.row -->
    </div>
    <!-- end /.container -->
  </div>
  <!-- end /.dashboard_menu_area -->
</section>
<!--================================
            END DASHBOARD AREA
    =================================-->
