					<!--begin::Main-Footer-->
					<div class="footer bg-white py-4 d-flex flex-lg-column" id="kt_footer">
						<!--begin::Container-->
						<div class="container d-flex flex-column flex-md-row align-items-center justify-content-between">
							<!--begin::Copyright-->
							<div class="text-dark order-2 order-md-1">
								<span class="text-muted font-weight-bold mr-2">© 2022</span>
								<span class="text-dark-75 text-primary">CreatorsStream LLC. All Rights Reserved.</span>
							</div>
							<!--end::Copyright-->
							<!--begin::Nav-->
							<div class="nav nav-dark order-1 order-md-2">
								<a routerLink="/about/" class="nav-link pr-3 pl-0">About</a>
								<a routerLink="/works/" class="nav-link px-3">Our Team</a>
								<a routerLink="/contact/" class="nav-link pl-3 pr-0">Contact</a>
							</div>
							<!--end::Nav-->
						</div>
						<!--end::Container-->
					</div>
					<!--end::Main-Footer-->

          <!--begin::Subscription-Modal-->
          <div class="modal fade" id="SubscriptionModal" tabindex="-1" role="dialog" aria-hidden="true" style="padding-right:15px;">
            <div class="modal-dialog modal-md" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="ModalLabel">Subscriptions</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <i aria-hidden="true" class="fa fa-close"></i>
                  </button>
                  </div>
                <div class="modal-body">
                  <form>
                    <div class="row">
                    <div class="col-xl-6">
                    <div class="form-group">
                      <label class="form-control-label">Account Balance: $4500</label>
                      <sup>*</sup>
                    </div>
                    </div>
                    <div class="col-xl-6">
                    <div class="form-group">
                      <label class="form-control-label">Subscription Amount: $12.5</label>
                      <sup>*</sup>
                    </div>
                    </div>
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <div class="d-flex align-items-center">
                    <!--begin::CS-fund-btn-->
                    <div class="cs-btn-dropleft">
                      <button class="btn btn-success mr-2 btn-fixed-height font-weight-bolder font-size-sm px-5">
                        <span class="svg-icon svg-icon-md"><i class="flaticon-piggy-bank"></i></span>
                      Load Wallet
                    </button>
                    </div>
                    <!--end::CS-fund-btn-->
                    <!--begin::CS-fund-btn-->
                    <div class="cs-btn-dropright">
                    <button class="btn btn-fixed-height btn-primary font-weight-bolder font-size-sm px-5">
                      <span class="svg-icon svg-icon-md"><i class="flaticon-open-box"></i></span>
                     Pay Now
                    </button>
                      </div>
                    <!--end::CS-fund-btn-->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--End::Subscription-Modal-->
