<!--================================
        START FOOTER AREA
    =================================-->
<footer id="gen-footer">
  <div class="gen-footer-style-1">
    <div class="gen-footer-top main">

      <div class="gen-copyright-footer">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 align-self-left">
              <img src="assets/images/logo-2.png" class="gen-footer-logo">
            </div>
            <div class="col-lg-4">
              <p><span class="gen-copyright align-self-right" style="float:right;"> Copyright @ 2021 CStream - All
                  Rights
                  Reserved.</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Main Footer End -->

    <!-- Back-to-Top start -->
    <div id="back-to-top">
      <a class="top" id="top" href="#top"> <i class="ion-ios-arrow-up"></i> </a>
    </div>
    <!-- Back-to-Top end -->
  </div>
</footer>
