<!--========== Header ==============-->
<app-navbar></app-navbar>
<!--========== Header ==============-->

 <!--begin::Content-->
  <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Breadcrumbs-->
    <div class="gutter-b" id="kt_breadcrumbs">
      <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
        <!--begin::Info-->
        <div class="d-flex align-items-center flex-wrap mr-1">
        <!--begin::Page Heading-->
        <div class="d-flex align-items-baseline flex-wrap mr-5">
          <!--begin::Page Title-->
          <h4 class="text-dark font-weight-bold my-1 mr-5">About Us: </h4>
          <!--end::Page Title-->
          <!--begin::Breadcrumb-->
          <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
            <li class="breadcrumb-item">
              <a routerLink="/dashboard/" class="text-dark-50">Your Streaming Platform</a>
            </li>
          </ul>
          <!--end::Breadcrumb-->
        </div>
        <!--end::Page Heading-->
        </div>
        <!--end::Info-->
        <!--begin::Toolbar-->
        <div class="d-flex align-items-center">
          <!--begin::Dropdown-->
          <div class="dropdown dropdown-inline">
            <a routerLink="/channel/1/" id="btn-special" class="btn btn-fixed-height btn-bg-white btn-text-dark-50 btn-hover-text-primary btn-icon-primary font-weight-bolder font-size-sm px-5 mr-3">
            <span class="svg-icon svg-icon-md">
              <i class="flaticon-list"></i>
            </span>Saved Channels</a>
          </div>
          <!--end::Dropdown-->
          <!--begin::Dropdown-->
          <div class="dropdown dropdown-inline">
            <a routerLink="/dashboard/add-video" class="btn btn-fixed-height btn-primary font-weight-bolder font-size-sm px-5">
            <span class="svg-icon svg-icon-md">
            <i class="flaticon-upload-1"></i>
            </span>Video Playlist</a>
          </div>
          <!--end::Dropdown-->
        </div>
        <!--end::Toolbar-->
      </div>
    </div>
    <!--end::Breadcrumbs-->
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
      <!--begin::Container-->
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-xl-3">
            <div class="card card-custom" >
              <div class="card-body p-0">
                <ul class="navi navi-bold navi-hover my-5" role="tablist">
                  <li class="navi-item">
                    <a class="navi-link active">
                      <span class="navi-icon">
                        <i class="flaticon-avatar"></i>
                      </span>
                      <span class="navi-text">Personal Information</span>
                    </a>
                  </li>
                  <li class="navi-item">
                    <a class="navi-link">
                      <span class="navi-icon">
                        <i class="flaticon-lock"></i>
                      </span>
                      <span class="navi-text">Acccount Information</span>
                    </a>
                  </li>
                  <li class="navi-item">
                    <a class="navi-link">
                      <span class="navi-icon">
                        <i class="flaticon-settings"></i>
                      </span>
                      <span class="navi-text">Change Password</span>
                    </a>
                  </li>
                  <li class="navi-item">
                    <a class="navi-link">
                      <span class="navi-icon">
                        <i class="flaticon-mail-1"></i>
                      </span>
                      <span class="navi-text">Email Settings</span>
                    </a>
                  </li>
                  <li class="navi-item">
                    <a class="navi-link">
                      <span class="navi-icon">
                        <i class="flaticon-coins"></i>
                      </span>
                      <span class="navi-text">Saved Credit Cards</span>
                    </a>
                  </li>
                  <li class="navi-item">
                    <a class="navi-link">
                      <span class="navi-icon">
                        <i class="flaticon-customer"></i>
                      </span>
                      <span class="navi-text">Social Networks</span>
                    </a>
                  </li>
                  <li class="navi__separator"></li>
                  <li class="navi-item">
                    <a class="navi-link">
                      <span class="navi-icon">
                        <i class="flaticon-diagram"></i>
                      </span>
                      <span class="navi-text">Tax Information</span>
                    </a>
                  </li>
                  <li class="navi-item">
                    <a class="navi-link">
                      <span class="navi-icon">
                        <i class="flaticon-bag"></i>
                      </span>
                      <span class="navi-text">Purchases</span>
                    </a>
                  </li>
                  <li class="navi-item">
                    <a class="navi-link">
                      <span class="navi-icon">
                        <i class="flaticon-tabs"></i>
                      </span>
                      <span class="navi-text">Statements</span>
                    </a>
                  </li>
                  <li class="navi-item">
                    <a class="navi-link">
                      <span class="navi-icon">
                        <i class="flaticon-share"></i>
                      </span>
                      <span class="navi-text">Audit Log</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-9 col-xl-9">
            <div class="card card-custom gutter-b example example-compact mt-10">
              <div class="card-header">
                <div class="card-title">
                  <h3 class="card-label">About
                  <small>CreatorsStream</small></h3>
                </div>
              </div>
              <div class="card-body">
                <!--begin::About-Content-->
                <p class="mt-5">Creatorsstream.com is owned by Creators Stream Network,
                  a registered limited liability company with Registration number
                  CS227931121 and Tax Identification Number (TIN) C0061387584.
                  creatorsstream.com is a video sharing website that allow users to monetise
                  their contents and earn money for the time spent on the platform.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--end::Container-->
    </div>
    <!--end::Entry-->
  </div>
	<!--end::Content-->

  <ng-template #spinner>
    <app-spinner></app-spinner>
  </ng-template>

  <!-- Footer Top Starts -->
  <app-footer></app-footer>
  <!-- Main Footer End -->
