<!--========== Header ==============-->
<app-navbar></app-navbar>
<!--========== Header ==============-->

 <!--begin::Content-->
  <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Breadcrumbs-->
    <div class="gutter-b" id="kt_breadcrumbs">
      <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
        <!--begin::Info-->
        <div class="d-flex align-items-center flex-wrap mr-1">
        <!--begin::Page Heading-->
        <div class="d-flex align-items-baseline flex-wrap mr-5">
          <!--begin::Page Title-->
          <h4 class="text-dark font-weight-bold my-1 mr-5">Your Streaming Platform: </h4>
          <!--end::Page Title-->
        </div>
        <!--end::Page Heading-->
        </div>
        <!--end::Info-->
        <!--begin::Toolbar-->
        <div class="d-flex align-items-center">
          <!--begin::Dropdown-->
          <div class="dropdown dropdown-inline">
            <a routerLink="/works/" id="btn-special" class="btn btn-fixed-height btn-bg-custom btn-text-white btn-hover-text-primary btn-icon-primary font-weight-bolder font-size-sm px-5 mr-3">
            <span class="svg-icon svg-icon-md">
              <i class="flaticon-user"></i>
            </span>How It Works</a>
          </div>
          <!--end::Dropdown-->
          <!--begin::Dropdown-->
          <div class="dropdown dropdown-inline">
            <a routerLink="/dashboard/add-video" class="btn btn-fixed-height btn-primary font-weight-bolder font-size-sm px-5">
            <span class="svg-icon svg-icon-md">
            <i class="flaticon-upload-1"></i>
            </span>Video Playlist</a>
          </div>
          <!--end::Dropdown-->
        </div>
        <!--end::Toolbar-->
      </div>
    </div>
    <!--end::Breadcrumbs-->
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
      <!--begin::Container-->
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-xl-12">
            <div class="card card-custom gutter-b example example-compact mt-10">
              <div class="card-header">
                <div class="card-title">
                  <h3 class="card-label"><i class="flaticon-user"></i>
                  <small> ABOUT CREATORSSTREAM</small></h3>
                </div>
              </div>
              <div class="card-body">
                <!--begin::About-Content-->
                <p class="mt-5">Creatorsstream.com is owned by Creators Stream Network,
                  a registered limited liability company with Registration number
                  CS227931121 and Tax Identification Number (TIN) C0061387584.
                  creatorsstream.com is a video sharing website that allow users to monetise
                  their contents and earn money for the time spent on the platform.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--end::Container-->
    </div>
    <!--end::Entry-->
  </div>
	<!--end::Content-->

  <ng-template #spinner>
    <app-spinner></app-spinner>
  </ng-template>

  <!-- Footer Top Starts -->
  <app-footer></app-footer>
  <!-- Main Footer End -->
