					<!--begin::Content-->
					<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
						<!--begin::Breadcrumbs-->
						<div class="gutter-b" id="kt_breadcrumbs">
							<div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
								<!--begin::Info-->
								<div class="d-flex align-items-center flex-wrap mr-1">
									<!--begin::Page Heading-->
									<div class="d-flex align-items-baseline flex-wrap mr-5">
										<!--begin::Page Title-->
										<h4 class="text-dark font-weight-bold my-1 mr-5">Upload Video</h4>
										<!--end::Page Title-->
										<!--begin::Breadcrumb-->
										<ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
											<li class="breadcrumb-item">
												<a routerLink="/dashboard/" class="text-dark-50">Dashboard</a>
											</li>
										</ul>
										<!--end::Breadcrumb-->
									</div>
									<!--end::Page Heading-->
								</div>
								<!--end::Info-->

							<!--begin::Toolbar-->
							<div class="d-flex align-items-center">
								<!--begin::Dropdown-->
								<div class="menu-item">
									<a href="#" class="btn btn-fixed-height btn-bg-danger btn-text-white btn-hover-text-white btn-icon-white font-weight-bolder font-size-sm px-5 mr-3">
									<span class="svg-icon svg-icon-md">
										<i class="flaticon2-wifi"></i>
									</span>Live Stream Channel</a>
								</div>
								<!--end::Dropdown-->
								<!--begin::Dropdown-->
								<div class="menu-item">
									<a routerLink="/dashboard/channel/add" class="btn btn-fixed-height btn-primary font-weight-bolder font-size-sm px-5">
									<span class="svg-icon svg-icon-md">
										<i class="flaticon-list"></i>
									</span>Create Channel</a>
								</div>
								<!--end::Dropdown-->
							</div>
							<!--end::Toolbar-->
							</div>
						</div>
						<!--end::Breadcrumbs-->

						<!--begin::Entry-->
						<div class="d-flex flex-column-fluid">
							<!--begin::Container-->
							<div class="container">
								<div class="card card-custom">
									<div class="card-body p-0">

										<!--begin: Wizard-->
										<div class="wizard wizard-5" id="kt_wizard" data-wizard-state="step-first" data-wizard-clickable="false">

											<!--begin: Wizard Nav-->
											<div class="w-lg-40 border-bottom border-bottom-lg-0 border-right-lg">
												<div class="py-8 px-8 py-lg-20 px-lg-10">
													<div class="wizard-steps">
														<!--begin::Wizard Step-->
														<div class="wizard-step" data-wizard-type="step" data-wizard-state="done">
															<div class="wizard-label">1</div>
														</div>
														<!--end::Wizard Step-->

														<!--begin::Wizard Step-->
														<div class="wizard-step" data-wizard-type="step" data-wizard-state="pending">
															<div class="wizard-label">2</div>
														</div>
														<!--end::Wizard Step-->
													</div>
													<div class="text-center py-10">
														<div data-wizard-type="step-info" data-wizard-state="current">
															<h3 class="font-weight-bolder mb-5">Upload Video to Channel</h3>
															<p class="font-size-lg text-dark-50">Please Upload your video here...</p>
															<img src="./assets/media/svg/illustrations/folder_files.svg" alt="image" class="mt-10 h-200px">
														</div>
														<div data-wizard-type="step-info">
															<h3 class="font-weight-bolder mb-5">Review Video Details</h3>
															<p class="font-size-lg text-dark-50">Kindly read and accept our Terms & Conditions...
															<br>before you submit...</p>
															<img src="./assets/media/svg/illustrations/authentication_re.svg" alt="image" class="mt-10 h-200px">
														</div>
													</div>
												</div>
											</div>
											<!--end: Wizard Nav-->

											<!--begin: Wizard Body-->
											<div class="w-lg-50">
												<div class="py-8 px-8 pt-lg-30 pb-lg-20 px-lg-20">
													<!--begin: Wizard Form-->
													<div class="col-lg-12">
															<!--begin::Form-->
															<!-- <form class="form fv-plugins-bootstrap fv-plugins-framework" id="kt_form_1">
																<div class="card-body">
																	<div class="form-group row fv-plugins-icon-container">
																		<label class="col-form-label text-right col-lg-3 col-sm-12">Option *</label>
																		<div class="col-lg-9 col-md-9 col-sm-12">
																			<select class="form-control" name="option" class="is-invalid">
																				<option value="">Select</option>
																				<option>1</option>
																				<option>2</option>
																				<option>3</option>
																				<option>4</option>
																				<option>5</option>
																			</select>
																			<span class="form-text text-muted">Please select an option.</span>
																		<div class="fv-plugins-message-container"></div></div>
																	</div>
																	</div>
																<div class="card-footer">
																	<div class="row">
																		<div class="col-lg-9 ml-lg-auto">
																			<button type="submit" class="btn btn-primary font-weight-bold mr-2" name="submitButton">Validate</button>
																		</div>
																	</div>
																</div>
															<div>
														</div> -->
													<!--end::Form-->
													</div>
                          <form class="form fv-plugins-bootstrap fv-plugins-framework" id="kt_form">
                            <!--begin::Wizard Step 1-->
                            <div class="pb-5" data-wizard-type="step-content" data-wizard-state="current">
                                <h3 class="mb-10 font-weight-bold text-dark">Upload Video</h3>
                                <!--begin::Input-->
                                <div class="form-group fv-plugins-icon-container">
                                    <label>VIDEO TITLE *</label>
                                    <input type="text" class="form-control form-control-solid form-control-lg" name="vid_title" class="form-control form-control-solid form-control-lg" placeholder="Enter Title">
                                </div>
                                <!--end::Input-->

                                <div class="row">
                                <div class="col-xl-6">
                                  <!--begin::Select-->
                                  <div class="form-group fv-plugins-icon-container">
                                    <label>SELECT CHANNEL</label>
                                    <select name="option" class="form-control is-invalid form-control-solid form-control-lg">
                                      <option>-- Select --</option>
                                      <option>CodeWithDary</option>
                                      <option>Dreams Tv</option>
                                      <option>AlbamaDoe Tv</option>
                                    </select>
                                </div>
                              <!--end::Input-->
                              </div>

                                <div class="col-xl-6">
                                <!--begin::Input-->
                                <div class="form-group row">
                                    <label class="col-form-label text-lg-left">COVER PHOTO *</label>
                                    <div class="col-lg-6">
                                        <div class="dropzone dropzone-multi" id="kt_dropzone_4">
                                            <div class="dropzone-panel mb-lg-0 mb-2">
                                                <a class="dropzone-select btn btn-light-primary font-weight-bold btn-sm">Attach File</a>
                                            </div>
                                            <div class="dropzone-items">
                                                <div class="dropzone-item" style="display:none">
                                                    <div class="dropzone-file">
                                                        <div class="dropzone-filename" title="some_image_file_name.jpg"></div>
                                                        <div class="dropzone-error" data-dz-errormessage=""></div>
                                                    </div>
                                                    <div class="dropzone-progress">
                                                        <div class="progress">
                                                            <div class="progress-bar bg-primary" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0" data-dz-uploadprogress=""></div>
                                                        </div>
                                                    </div>
                                                    <div class="dropzone-toolbar">
                                                        <span class="dropzone-start">
                                                            <i class="flaticon2-arrow"></i>
                                                        </span>
                                                        <span class="dropzone-cancel" data-dz-remove="" style="display: none;">
                                                            <i class="flaticon2-cross"></i>
                                                        </span>
                                                        <span class="dropzone-delete" data-dz-remove="">
                                                            <i class="flaticon2-cross"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <span class="form-text text-muted">Max file size is 1MB</span>
                                    </div>
                                </div>
                                <!--end::Input-->
                                </div>
                                </div>

                                <div class="row">
                                    <div class="col-xl-12">
                                        <!--begin::Input-->
                                        <div class="form-group fv-plugins-icon-container">
                                            <label>DESCRIPTION</label>
                                            <textarea type="text" class="form-control special-height form-control-solid form-control-lg" name="description" placeholder="Video Description"></textarea>
                                            <span class="form-text text-muted">Please enter your description</span>
                                        <div class="fv-plugins-message-container"></div></div>
                                        <!--end::Input-->
                                    </div>
                                </div>
                            </div>
                            <!--end::Wizard Step 1-->

                            <!--begin::Wizard Step 2-->
                            <div class="pb-5" data-wizard-type="step-content">
                                <!--begin::Section-->
                                <h4 class="mb-10 font-weight-bold text-dark">Comfirm Video Details and Submit</h4>
                                <h6 class="font-weight-bolder mb-3">VIDEO TITLE:</h6>
                                <div class="text-dark-50 line-height-lg">
                                    <div>A Trip to the hinterlands of Akyem Agogo</div>
                                </div>
                                <div class="separator separator-dashed my-5"></div>
                                <!--end::Section-->

                                <!--begin::Section-->
                                <h6 class="font-weight-bolder mb-3">DESCRIPTION:</h6>
                                <div class="text-dark-50 line-height-lg">
                                    <div>Complete Workstation (Monitor, Computer, Keyboard &amp; Mouse)</div>
                                </div>
                                <!--end::Section-->
                            </div>
                            <!--end::Wizard Step 2-->

                            <!--begin::Wizard Actions-->
                            <div class="d-flex justify-content-between border-top mt-5 pt-10">
                                <div class="mr-2">
                                    <button type="button" id="prev-step" class="btn btn-light-primary font-weight-bolder px-10 py-3" data-wizard-type="action-prev">
                                    <span class="svg-icon svg-icon-md mr-3">
      <i class="fas fa-arrow-left"></i>
                                    </span>Previous</button>
                                </div>
                                <div>
                                    <button type="button" class="btn btn-success font-weight-bolder px-10 py-3" data-wizard-type="action-submit">Submit
                                    <span class="svg-icon svg-icon-md ml-3">
      <i class="fas fa-check"></i>
                                    </span></button>
                                    <button type="button" id="next-step" class="btn btn-primary font-weight-bolder px-10 py-3" data-wizard-type="action-next">Next
                                    <span class="svg-icon svg-icon-md ml-3">
      <i class="fas fa-arrow-right"></i>
                                    </span></button>
                                </div>
                            </div>
                            <!--end::Wizard Actions-->
                        <div></div><div></div><div></div><div></div></form>

													<!--end: Wizard Form-->
												</div>
											</div>
											<!--end: Wizard Body-->
										</div>
										<!--end: Wizard-->
									</div>
								</div>



							</div>
							<!--end::Container-->
						</div>
						<!--end::Entry-->
					</div>
					<!--end::Content-->
