<div class="preload dashboard-page has_chart">

  <!--================================
            START LOGIN AREA
    =================================-->
  <section class="login_area section--padding2">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div action="#">
            <div class="cardify login">
              <!--Head-Title-icon-->
              <div class="ad-icon-holder" style="text-align: center;">
                <i id="head-title-icon" class="fa fa-upload"></i>
                <p class="gen-subtitle">Choose the video file you want to upload to Channel</p>
              </div>
              <!-- /Head-Title-icon-->
              <div class="login--header">
                <h3 class="modal-title">Upload Video</h3>
              </div>
              <!-- end .login_header -->

              <app-messages></app-messages>

              <form [formGroup]="videoForm" (ngSubmit)="onSubmit()">
                <div class="login--form">
                  <div action="#">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="vid-title">Video Title
                            <sup>*</sup>
                          </label>
                          <input type="text" id="vid-title" class="text_field" placeholder="Enter Title"
                            formControlName="title" required>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="opt-channel">Choose Channel
                            <sup>*</sup>
                          </label>
                          <div class="select-wrap">
                            <select name="channel_type" id="chan_type" class="select_field" formControlName="channel"
                              placeholder="-- Select Channel --">
                              <option>-- Select Channel --</option>
                              <option *ngFor="let channel of (dashboardService.channels$ | async)"
                                [value]="channel._id">
                                {{channel.name}}
                              </option>
                              <option routerLink="/dashboard/channel/add">-- Add New Channel --</option>
                            </select>
                            <span class="fa fa-chevron-down"></span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="form-group">
                          <label for="desc_field">Description</label>
                          <textarea name="vid-desc" id="vid-desc" class="text_field"
                            placeholder="Enter video description" formControlName="description"></textarea>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <label for="thumbnail">Cover Image</label>
                        <sup>*</sup>
                        <div class="custom_upload">
                          <label for="thumbnail">
                            <input type="file" id="thumbnail" class="files" #pickerCover formControlName="cover"
                              (change)="uploadCover($event)">
                            <span class="btn btn--bordered btn-sm btn-dark">Choose File</span>
                          </label>
                        </div>
                        <div *ngIf="coverLoading">
                          <div class="progress-indicator" *ngIf="(percentageCover$ | async) as percentage">
                            <mat-progress-bar class="progress-indicator mt-3" mode="determinate" [value]="percentage">
                            </mat-progress-bar>
                            <span *ngIf="percentage < 100;else complete">{{percentage / 100 | percent}}</span>
                            <ng-template #complete><span *ngIf="percentage">Upload Complete</span></ng-template>
                          </div>
                        </div>
                        <img *ngIf="cover" [src]="cover" class="mt-3 cover-image">
                      </div>
                      <div class="col-md-6">
                        <label for="thumbnail">Select Video</label>
                        <sup>*</sup>
                        <div class="custom_upload">
                          <label for="thumbnailVideo">
                            <input type="file" id="thumbnailVideo" class="files" formControlName="link"
                              (change)="uploadVideo($event)" #pickerVideo>
                            <span class="btn btn--bordered btn-sm btn-dark">Choose File</span>
                          </label>
                        </div>
                        <div *ngIf="videoUpload">
                          <div class="progress-indicator" *ngIf="(percentageLink$ | async) as percentageLink">
                            <mat-progress-bar class=" mt-3" mode="determinate" [value]="percentageLink">
                            </mat-progress-bar>
                            <span *ngIf="percentageLink < 100; else complete">{{percentageLink / 100 | percent}}</span>
                            <ng-template #complete>
                              <span>Video Upload Complete</span>
                            </ng-template>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-12 submit_button">
                      <div class="submit_button"><br>
                        <!--Break-->
                        <button type="submit" class="btn btn--round btn--default">Upload Video</button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- / End -->


  <!-- <div class="modal fade rating_modal" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="rating_modal">
      <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h3 class="modal-title" id="rating_modal">Create Channel</h3>
          </div>

          <div class="modal-body">
            <form action="#">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="password">Channel Name
                      <sup>*</sup>
                    </label>
                    <input type="text" id="cha-name" class="text_field" placeholder="Enter Channel Name" required>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <!-- <div class="form-group">
                                <div class="upload_wrapper"> -->
  <!-- <label for="thumbnail">Upload Avatar</label>
                  <sup>*</sup>
                  <div class="custom_upload">
                    <label for="thumbnail">
                      <input type="file" id="thumbnail" class="files">
                      <span class="btn btn--bordered btn-sm btn-dark">Choose File</span>
                    </label>
                  </div>
                </div> -->

  <!-- <div class="col-md-6"> -->
  <!-- <div class="form-group">
                                <div class="upload_wrapper"> -->
  <!-- <label for="thumbnail">Cover Image</label>
                  <sup>*</sup>

                  <div class="custom_upload">
                    <label for="thumbnail">
                      <input type="file" id="thumbnail" class="files">
                      <span class="btn btn--bordered btn-sm btn-dark">Choose File</span>
                    </label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group">
                    <label for="rating_field">Description</label>
                    <textarea name="desc_chan" id="desc_chan" class="text_field"
                      placeholder="Please enter your channel description"></textarea>
                  </div>
                </div>
              </div>
              <button type="submit" class="btn btn--round btn--default">Create Channel</button>


              <div class="modal fade rating_modal item_remove_modal" id="myModal3" tabindex="-1" role="dialog"
                aria-labelledby="myModal3">
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h3 class="modal-title">Cash Withdrawal</h3>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>

                    <div class="modal-body">
                      <form action="#">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="password">account balance
                              </label>
                              <input type="text" id="vid-title" class="text_field" placeholder="xxxxxx">
                            </div>
                          </div>

                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="vid_URL">amount to Withdrawal
                                <sup>*</sup>
                              </label>
                              <input type="text" id="vid_URL" class="text_field" placeholder="xxxxxx" required>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-12">
                            <div class="form-group">
                              <label for="option1">Withdrawal to
                                <sup>*</sup>
                              </label>
                              <div class="select-wrap">
                                <select name="channel_type" id="chan_type" class="select_field">
                                  <option value="option-1">Mobile Money</option>
                                  <option value="C_Card">Credit/Debit Card</option>
                                  <option value="other">bank transfer</option>
                                </select>
                                <span class="fa fa-chevron-down"></span>
                              </div>
                            </div>
                          </div>

                          <div class="col-lg-12">
                            <div class="submit_button">
                              <button type="submit" class="btn btn--round btn--default">Withdrawal</button>
                            </div>
                          </div>
                        </div> -->
