<!--================================
        START MENU AREA
    =================================-->
<!-- start menu-area -->
<div class="menu-area">
  <!-- start .top-menu-area -->
  <div class="top-menu-area">
    <!-- start .container -->
    <div class="container">
      <!-- start .row -->
      <div class="row">
        <!-- start .col-md-3 -->
        <div class="col-lg-3 col-md-3 col-6 v_middle">
          <div class="logo">
            <a routerLink="/auth/home/">
              <img src="assets/images/logo-2.png" height="25" alt="logo image" class="img-fluid">
            </a>
          </div>
        </div>
        <!-- end /.col-md-3 -->

        <!-- start .col-md-5 -->
        <div class="col-lg-8 offset-lg-1 col-md-9 col-6 v_middle">
          <!-- start .author-area -->
          <div class="author-area">
            <a routerLink="/dashboard/channel/add/" class="author-area__seller-btn-alt"><i class="fa fa-video"
                aria-hidden="true"></i> Create Channel</a>
            <a routerLink="/dashboard/add-video/" class="author-area__seller-btn"><i class="fa fa-upload"></i> Upload
              Video</a>
            <!-- <a href="#" class="author-area__seller-btn-alt" data-target="#myModal1" data-toggle="modal"><i
                class="fa fa-video" aria-hidden="true"></i> Create Channel</a> -->

            <div class="author__notification_area">
              <ul>
                <li class="has_dropdown">
                  <div class="icon_wrap">
                    <span class="fa fa-bell"></span>
                    <!-- <span class="notification_count noti">3</span> -->
                  </div>

                  <!-- <div class="dropdowns notification--dropdown">
                    <div class="dropdown_module_header">
                      <span>New Notifications<a href="#">View All</a></span>
                    </div>

                    <div class="notifications_module">
                      <div class="notification">
                        <div class="notification__info">
                          <div class="info_avatar">
                            <img src="assets/images/Channel-Avator-vplay.png" alt="">
                          </div>
                          <div class="info">
                            <p>
                              <span>Anderson</span> added to Favourite
                              <a href="#">Mccarther Coffee Shop</a>
                            </p>
                            <p class="time">Just now</p>
                          </div>
                        </div>
                      </div>

                      <div class="notification">
                        <div class="notification__info">
                          <div class="info_avatar">
                            <img src="assets/images/Channel-Avator-vplay.png" alt="">
                          </div>
                          <div class="info">
                            <p>
                              <span>Michael</span> comments on
                              <a href="#">CS Extension</a>
                            </p>
                            <p class="time">Just now</p>
                          </div>
                        </div>

                        <div class="notification__icons ">
                          <span class="fa fa-bubble commented noti_icon"></span>
                        </div>
                      </div>
                    </div>
                  </div> -->
                </li>

                <li class="has_dropdown">
                  <div class="icon_wrap">
                    <span class="fa fa-envelope"></span>
                    <!-- <span class="notification_count msg">2</span> -->
                  </div>

                  <div class="dropdowns messaging--dropdown">
                    <div class="dropdown_module_header">
                      <span>New Messages<a href="#">View All</a></span>
                    </div>

                    <!-- <div class="messages">
                      <a href="#" class="message recent">
                        <div class="message__actions_avatar">
                          <div class="avatar">
                            <img src="assets/images/Channel-Avator-vplay.png">
                          </div>
                        </div>

                        <div class="message_data">
                          <div class="name_time">
                            <div class="name">
                              <span>Nuke Johnson</span>
                            </div>
                            <p>Hello John Smith!...</p>
                          </div>
                        </div>
                      </a>

                      <a href="#" class="message recent">
                        <div class="message__actions_avatar">
                          <div class="avatar">
                            <img src="assets/images/Channel-Avator-vplay.png">
                          </div>
                        </div>

                        <div class="message_data">
                          <div class="name_time">
                            <div class="name">
                              <span>Crazy Coder</span>
                            </div>
                            <p>Hello John Smith!...</p>
                          </div>
                        </div>
                      </a>
                    </div> -->
                  </div>
                </li>

              </ul>
            </div>
            <!--start .author__notification_area -->

            <!--start .author-author__info-->
            <div class="author-author__info inline has_dropdown" *ngIf="(authService.user$ | async) as user">
              <div class="author__avatar">
                <!-- <img src="assets/images/Channel-Avator-vplay.png" width="45" alt="user avatar"> -->
                <ngx-avatar [name]="user.name" size="45"></ngx-avatar>
              </div>
              <div class="autor__info">
                <p class="name">
                  {{user.name}}
                </p>
                <p class="ammount">GH¢0.00</p>
              </div>

              <div class="dropdowns dropdown--author">
                <ul>
                  <li>
                    <a routerLink="/dashboard/settings/">
                      <span class="fa fa-user"></span>Profile</a>
                  </li>
                  <li>
                    <a routerLink="/dashboard/" data-target="#myModal3" data-toggle="modal">
                      <span class="fa fa-credit-card"></span>Load Wallet</a>
                  </li>
                  <li>
                    <a routerLink="/dashboard/channel/add" data-target="#myModal1" data-toggle="modal">
                      <span class="fa fa-book"></span>Create Channel</a>
                  </li>
                  <li>
                    <a href="#" data-target="#myModal3" data-toggle="modal">
                      <span class="fa fa-briefcase"></span>Withdrawals</a>
                  </li>
                  <li>
                    <a routerLink="/dashboard/settings/">
                      <span class="fa fa-cog"></span> Setting</a>
                  </li>
                  <li>
                    <a (click)="logout()">
                      <span class="fa fa-sign-out-alt"></span>Logout</a>
                  </li>
                </ul>
              </div>
            </div>
            <!--end /.author-author__info-->
          </div>
          <!-- end .author-area -->

          <!-- author area restructured for mobile -->
          <div class="mobile_content ">
            <span class="fa fa-user menu_icon"></span>

            <!-- offcanvas menu -->
            <div class="offcanvas-menu closed">
              <span class="fa fa-cross close_menu"></span>
              <div class="author-author__info">
                <div class="author__avatar v_middle">
                  <img src="assets/images/Channel-Avator-vplay.png" width="45" alt="user avatar">
                </div>
                <div class="autor__info v_middle">
                  <p class="name">
                    Bismark Asare
                  </p>
                  <p class="ammount">$20.45</p>
                </div>
              </div>
              <!--end /.author-author__info-->

              <div class="author__notification_area">
                <ul>
                  <li>
                    <a href="notification.html">
                      <div class="icon_wrap">
                        <span class="fa fa-alarm"></span>
                        <span class="notification_count noti">25</span>
                      </div>
                    </a>
                  </li>

                  <li>
                    <a href="message.html">
                      <div class="icon_wrap">
                        <span class="fa fa-envelope"></span>
                        <span class="notification_count msg">6</span>
                      </div>
                    </a>
                  </li>

                  <li>
                    <a href="cart.html">
                      <div class="icon_wrap">
                        <span class="fa fa-cart"></span>
                        <span class="notification_count purch">2</span>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
              <!--start .author__notification_area -->

              <div class="dropdowns dropdown--author">
                <ul>
                  <li>
                    <a routerLink="/dashboard/settings/">
                      <span class="fa fa-user"></span>Profile</a>
                  </li>
                  <li>
                    <a href="#" data-target="#myModal3" data-toggle="modal">
                      <span class="fa fa-credit-card"></span>Load Wallet</a>
                  </li>
                  <li>
                    <a routerLink="/dashboard/add-video/" data-target="#myModal2" data-toggle="modal">
                      <span class="fa fa-upload"></span>Upload Video</a>
                  </li>
                  <li>
                    <a href="#" data-target="#myModal1" data-toggle="modal">
                      <span class="fa fa-book"></span>Create Channel</a>
                  </li>
                  <li>
                    <a href="#" data-target="#myModal3" data-toggle="modal">
                      <span class="fa fa-briefcase"></span>Withdrawals</a>
                  </li>
                  <li>
                    <a routerLink="/dashboard/settings/">
                      <span class="fa fa-cog"></span> Setting</a>
                  </li>
                  <li>
                    <a routerLink="/auth/home/">
                      <span class="fa fa-sign-out-alt"></span>Logout</a>
                  </li>
                </ul>
              </div>

              <div class="text-center">
                <a routerLink="/dashboard/add-video/" class="author-area__seller-btn">Upload Video</a>
              </div>
            </div>
          </div>
          <!-- end /.mobile_content -->
        </div>
        <!-- end /.col-md-5 -->
      </div>
      <!-- end /.row -->
    </div>
    <!-- end /.container -->
  </div>
  <!-- end  -->
</div>
<!-- end /.menu-area -->
<!--================================
        END MENU AREA
    =================================-->


<!--================================
            START DASHBOARD AREA
    =================================-->
<section class="dashboard-area">
  <div class="dashboard_menu_area">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="dashboard_menu">
            <li class="active">
              <a routerLink="/dashboard/">
                <i class="fa fa-home"></i> Dashboard</a>
            </li>
            <li>
              <a routerLink="/dashboard/channels/">
                <span class="fa fa-video"></span> Channels</a>
            </li>
            <li>
              <a href="#">
                <span class="fa fa-stop-circle"></span> Live Streams</a>
            </li>
            <li>
              <a href="#">
                <span class="fas fa-bullhorn"></span> Adverts</a>
            </li>
            <li>
              <a href="#">
                <span class="fas fa-bell"></span> Promotions</a>
            </li>
            <li>
              <a href="#">
                <span class="fa fa-play-circle"></span> Videos</a>
            </li>
            <li>
              <a href="#" data-target="#myModal3" data-toggle="modal">
                <span class="fa fa-credit-card"></span> Wallet</a>
            </li>
            <li>
              <a href="#" data-target="#myModal3" data-toggle="modal">
                <span class="fa fa-briefcase"></span> Withdrawals</a>
            </li>
            <li>
              <a routerLink="/dashboard/settings/">
                <span class="fa fa-cog"></span> Settings</a>
            </li>
          </ul>
          <!-- end /.dashboard_menu -->
        </div>
        <!-- end /.col-md-12 -->
      </div>
      <!-- end /.row -->
    </div>
    <!-- end /.container -->
  </div>
</section>
<!-- end /.dashboard_menu_area -->
