<!--========== Header ==============-->
<app-navbar></app-navbar>
<!--========== Header ==============-->

  <section class="breadcrumb-area">
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <div class="breadcrumb">
                    <div class="channel-profile">
                      <img class="channel-profile-img" alt="" src="assets/images/Channel-Avator-vplay.png">
                      <div class="social hidden-xs">&nbsp;
                         <a class="page-title" href="#">Osahan Channel <span><i class="fas fa-check-circle text-success"></i></span></a>
                      </div>
                      <div class="social-ff social-iconz">
                        <!-- <span class="channel-brand"> &nbsp;</span> -->
                        <a class="fb" href="#">&nbsp; <i class="fab fa-facebook"></i> Facebook</a>
                        <a class="tw" href="#">&nbsp; <i class="fab fa-twitter"></i> Twitter</a>
                        <a class="gp" href="#">&nbsp; <i class="fab fa-google"></i> Google</a>
                       </div>
                   </div>
                  </div>
              </div>
              <!-- end /.col-md-12 -->
          </div>
          <!-- end /.row -->
      </div>
      <!-- end /.container -->
  </section>

  <!--================================
          DASHBOARD AREA
  =================================-->
  <section class="dashboard-area">
      <div class="dashboard_menu_area">
          <div class="container">
              <div class="row">
                  <div class="col-md-12">
                    <ul class="dashboard_menu">
                      <li><a class="channel-brand" href="#">Osahan Channel <span><i class="fas fa-check-circle text-success"></i></span></a></li>
                        <li><a href="#"><span class="fa fa-home"></span>&nbsp; Videos</a></li>
                        <li><a href="#"><span class="flaticon2-heart-rate-monitor"></span>&nbsp; Playlists</a> </li>
                        <li><a href="#"><span class="flaticon2-box"></span>&nbsp; Media</a></li>
                        <li><a href="#"> <span class="flaticon2-talk"></span>&nbsp; Discussions</a> </li>
                        <li><a href="#"><span class="flaticon2-user"></span>&nbsp; About</a></li>
                        <li><a href="#"><span class="flaticon2-list"></span>&nbsp; Report</a></li>
                    </ul>
                      <!-- end /.dashboard_menu -->
                  </div>
                  <!-- end /.col-md-12 -->
              </div>
              <!-- end /.row -->
          </div>
          <!-- end /.container -->
      </div>
      <!-- end /.dashboard_menu_area -->

    <!--================================
        START CHANNEL AREA
    =================================-->
    <section class="channels section--padding">
        <!-- start container -->
        <div class="container">
            <!-- start .row -->
            <div class="row">
                <!-- start col-md-9 -->
                <div class="col-md-3">
                    <!-- start .single-channel -->
                    <div class="channel channel--list channel--list-small">
                        <div class="channel__thumbnail">
                            <img src="assets/images/vid-thumbnail-9.png" alt="Image">
                            <div class="prod_btn">
                             <a href="#"><i id="chan-eye" class="fa fa-eye"></i></a>
                            </div>
                            <!-- end /.prod_btn -->
                        </div>
                        <!-- end /.channel__thumbnail -->
                        <div class="channel__details">
                            <div class="channel-desc">
                                <a href="#" class="channel_title"><h4>DorkRav TV</h4></a>
                            </div>
                            <a routerLink="/" id="btn-subsc"><i class="flaticon-alert"></i> Subscribed</a> <i id="icon-subsc" class="flaticon-bell"></i> 587k
                            <!-- end /.channel-purchase -->
                        </div>
                    </div>
                    <!-- end /.single-channel -->

                    <!-- start .single-channel -->
                    <div class="channel channel--list channel--list-small">
                        <div class="channel__thumbnail">
                            <img src="assets/images/vid-thumbnail-10.png" alt="Image">
                            <div class="prod_btn">
                              <a href="#"><i id="chan-eye" class="fa fa-eye"></i></a>
                            </div>
                            <!-- end /.prod_btn -->
                        </div>
                        <!-- end /.channel__thumbnail -->
                        <div class="channel__details">
                            <div class="channel-desc">
                                <a href="#" class="channel_title">
                                  <h4 class="sub-num">CodeWithDary</h4>
                                </a>
                            </div>
                            <a routerLink="/" id="btn-subsc"><i class="flaticon-alert"></i> Subscribed</a> <i id="icon-subsc" class="flaticon-bell"></i> 587k
                            <!-- end /.Channel Card-->
                        </div>
                    </div>
                    <!-- end /.single-channel -->

                    <!-- start .single-channel -->
                    <div class="channel channel--list channel--list-small">
                        <div class="channel__thumbnail ">
                            <img src="assets/images/video-thumbnail-7.png" alt="Image">
                            <div class="prod_btn">
                              <a href="#"><i id="chan-eye" class="fa fa-eye"></i></a>
                            </div>
                            <!-- end /.prod_btn -->
                        </div>
                        <!-- end /.channel__thumbnail -->
                        <div class="channel__details">
                            <div class="channel-desc">
                                <a href="#" class="channel_title">
                                    <h4 class="sub-num">Dreams Tv</h4>
                                </a>
                            </div>
                            <a routerLink="/" id="btn-subsc"><i class="flaticon-alert"></i> Subscribed</a> <i id="icon-subsc" class="flaticon-bell"></i> 587k
                            <!-- end /.channel-purchase -->
                        </div>
                    </div>
                    <!-- end /.single-channel -->

                    <!-- start .single-channel -->
                    <div class="channel channel--list channel--list-small">
                      <div class="channel__thumbnail">
                          <img src="assets/images/video-thumbnail-11.png" alt="Image">
                          <div class="prod_btn">
                            <a href="#"><i id="chan-eye" class="fa fa-eye"></i></a>
                          </div>
                          <!-- end /.prod_btn -->
                      </div>
                      <!-- end /.channel__thumbnail -->
                      <div class="channel__details">
                          <div class="channel-desc">
                              <a href="#" class="channel_title">
                                <h4>Adom Channel</h4>
                              </a>
                              </div>
                              <a routerLink="/" id="btn-subsc"><i class="flaticon-alert"></i> Subscribed</a> <i id="icon-subsc" class="flaticon-bell"></i> 587k
                          <!-- end /.channel-purchase -->
                      </div>
                    </div>
                   <!-- end /.single-channel -->

                    <!-- start .single-channel -->
                    <div class="channel channel--list channel--list-small">
                      <div class="channel__thumbnail">
                          <img src="assets/images/vid-thumbnail-10.png" alt="Image">
                          <div class="prod_btn">
                            <a href="#"><i id="chan-eye" class="fa fa-eye"></i></a>
                          </div>
                          <!-- end /.prod_btn -->
                      </div>
                      <!-- end /.channel__thumbnail -->
                      <div class="channel__details">
                          <div class="channel-desc">
                              <a href="#" class="channel_title">
                                <h4 class="sub-num">CodeWithDary</h4>
                              </a>
                          </div>
                          <a routerLink="/" id="btn-subsc"><i class="flaticon-alert"></i> Subscribed</a> <i id="icon-subsc" class="flaticon-bell"></i> 587k
                          <!-- end /.Channel Card-->
                      </div>
                  </div>
                  <!-- end /.single-channel -->
                </div>
                <!-- end /.col-md-9 -->

                <!-- start col-md-9 -->
                <div class="col-md-3">
                  <!-- start .single-channel -->
                  <div class="channel channel--list channel--list-small">
                      <div class="channel__thumbnail">
                          <img src="assets/images/video-thumbnail-11.png" alt="Image">
                          <div class="prod_btn">
                            <a href="#"><i id="chan-eye" class="fa fa-eye"></i></a>
                          </div>
                          <!-- end /.prod_btn -->
                      </div>
                      <!-- end /.channel__thumbnail -->
                      <div class="channel__details">
                          <div class="channel-desc">
                              <a href="#" class="channel_title">
                                <h4>abn Network</h4>
                              </a>
                              </div>
                              <a routerLink="/" id="btn-subsc"><i class="flaticon-alert"></i> Subscribed</a> <i id="icon-subsc" class="flaticon-bell"></i> 587k
                          <!-- end /.channel-purchase -->
                      </div>
                  </div>
                  <!-- end /.single-channel -->

                  <!-- start .single-channel -->
                  <div class="channel channel--list channel--list-small">
                      <div class="channel__thumbnail">
                          <img src="assets/images/video-thumbnail-16.jpeg" alt="Image">
                          <div class="prod_btn">
                            <a href="#"><i id="chan-eye" class="fa fa-eye"></i></a>
                          </div>
                          <!-- end /.prod_btn -->
                      </div>
                      <!-- end /.channel__thumbnail -->
                      <div class="channel__details">
                          <div class="channel-desc">
                              <a href="#" class="channel_title">
                                <h4 class="sub-num">Sweet Dinner TV</h4>
                              </a>
                          </div>
                          <a routerLink="/" id="btn-subsc"><i class="flaticon-alert"></i> Subscribed</a> <i id="icon-subsc" class="flaticon-bell"></i> 587k
                          <!-- end /.Channel Card-->
                      </div>
                  </div>
                  <!-- end /.single-channel -->

                  <!-- start .single-channel -->
                  <div class="channel channel--list channel--list-small">
                      <div class="channel__thumbnail">
                          <img src="assets/images/video-thumbnail-16.jpeg" alt="Image">
                          <div class="prod_btn">
                            <a href="#"><i id="chan-eye" class="fa fa-eye"></i></a>
                          </div>
                          <!-- end /.prod_btn -->
                      </div>
                      <!-- end /.channel__thumbnail -->
                      <div class="channel__details">
                          <div class="channel-desc">
                              <a href="#" class="channel_title">
                                <h4 class="sub-num">Dreams Tv</h4>
                              </a>
                          </div>
                          <a routerLink="/" id="btn-subsc"><i class="flaticon-alert"></i> Subscribed</a> <i id="icon-subsc" class="flaticon-bell"></i> 587k
                          <!-- end /.Channel Card-->
                      </div>
                  </div>
                  <!-- end /.single-channel -->

                  <!-- start .single-channel -->
                  <div class="channel channel--list channel--list-small">
                    <div class="channel__thumbnail">
                        <img src="assets/images/video-thumbnail-11.png" alt="Image">
                        <div class="prod_btn">
                          <a href="#"><i id="chan-eye" class="fa fa-eye"></i></a>
                        </div>
                        <!-- end /.prod_btn -->
                    </div>
                    <!-- end /.channel__thumbnail -->
                    <div class="channel__details">
                        <div class="channel-desc">
                            <a href="#" class="channel_title">
                              <h4>Media General</h4>
                            </a>
                            </div>
                            <a routerLink="/" id="btn-subsc"><i class="flaticon-alert"></i> Subscribed</a> <i id="icon-subsc" class="flaticon-bell"></i> 587k
                        <!-- end /.channel-purchase -->
                    </div>
                </div>
                <!-- end /.single-channel -->

                <!-- start .single-channel -->
                <div class="channel channel--list channel--list-small">
                  <div class="channel__thumbnail">
                      <img src="assets/images/vid-thumbnail-9.png" alt="Image">
                      <div class="prod_btn">
                       <a href="#"><i id="chan-eye" class="fa fa-eye"></i></a>
                      </div>
                      <!-- end /.prod_btn -->
                  </div>
                  <!-- end /.channel__thumbnail -->
                  <div class="channel__details">
                      <div class="channel-desc">
                          <a href="#" class="channel_title"><h4>DorkRav TV</h4></a>
                      </div>
                      <a routerLink="/" id="btn-subsc"><i class="flaticon-alert"></i> Subscribed</a> <i id="icon-subsc" class="flaticon-bell"></i> 587k
                      <!-- end /.channel-purchase -->
                  </div>
              </div>
              <!-- end /.single-channel -->
                </div>
                <!-- end /.col-md-9 -->

                <!-- start col-md-9 -->
                <div class="col-md-3">
                  <!-- start .single-channel -->
                  <div class="channel channel--list channel--list-small">
                      <div class="channel__thumbnail">
                          <img src="assets/images/video-thumbnail-11.png" alt="Image">
                          <div class="prod_btn">
                            <a href="#"><i id="chan-eye" class="fa fa-eye"></i></a>
                          </div>
                          <!-- end /.prod_btn -->
                      </div>
                      <!-- end /.channel__thumbnail -->
                      <div class="channel__details">
                          <div class="channel-desc">
                              <a href="#" class="channel_title">
                                <h4>HashTag Tv</h4>
                              </a>
                              </div>
                              <a routerLink="/" id="btn-subsc"><i class="flaticon-alert"></i> Subscribed</a> <i id="icon-subsc" class="flaticon-bell"></i> 587k
                          <!-- end /.channel-purchase -->
                      </div>
                  </div>
                  <!-- end /.single-channel -->

                  <!-- start .single-channel -->
                  <div class="channel channel--list channel--list-small">
                      <div class="channel__thumbnail">
                          <img src="assets/images/video-thumbnail-16.jpeg" alt="Image">
                          <div class="prod_btn">
                            <a href="#"><i id="chan-eye" class="fa fa-eye"></i></a>
                          </div>
                          <!-- end /.prod_btn -->
                      </div>
                      <!-- end /.channel__thumbnail -->
                      <div class="channel__details">
                          <div class="channel-desc">
                              <a href="#" class="channel_title">
                                <h4 class="sub-num">Kennedy Satellite</h4>
                              </a>
                          </div>
                          <a routerLink="/" id="btn-subsc"><i class="flaticon-alert"></i> Subscribed</a> <i id="icon-subsc" class="flaticon-bell"></i> 587k
                          <!-- end /.Channel Card-->
                      </div>
                  </div>
                  <!-- end /.single-channel -->

                  <!-- start .single-channel -->
                  <div class="channel channel--list channel--list-small">
                      <div class="channel__thumbnail">
                          <img src="assets/images/video-thumbnail-16.jpeg" alt="Image">
                          <div class="prod_btn">
                            <a href="#"><i id="chan-eye" class="fa fa-eye"></i></a>
                          </div>
                          <!-- end /.prod_btn -->
                      </div>
                      <!-- end /.channel__thumbnail -->
                      <div class="channel__details">
                          <div class="channel-desc">
                              <a href="#" class="channel_title">
                                <h4 class="sub-num">Indo Tv</h4>
                              </a>
                          </div>
                          <a routerLink="/" id="btn-subsc"><i class="flaticon-alert"></i> Subscribed</a> <i id="icon-subsc" class="flaticon-bell"></i> 587k
                          <!-- end /.Channel Card-->
                      </div>
                  </div>
                  <!-- end /.single-channel -->

                  <!-- start .single-channel -->
                  <div class="channel channel--list channel--list-small">
                    <div class="channel__thumbnail">
                        <img src="assets/images/video-thumbnail-11.png" alt="Image">
                        <div class="prod_btn">
                          <a href="#"><i id="chan-eye" class="fa fa-eye"></i></a>
                        </div>
                        <!-- end /.prod_btn -->
                    </div>
                    <!-- end /.channel__thumbnail -->
                    <div class="channel__details">
                        <div class="channel-desc">
                            <a href="#" class="channel_title">
                              <h4>Despite Media</h4>
                            </a>
                            </div>
                            <a routerLink="/" id="btn-subsc"><i class="flaticon-alert"></i> Subscribed</a> <i id="icon-subsc" class="flaticon-bell"></i> 587k
                        <!-- end /.channel-purchase -->
                    </div>
                </div>
                <!-- end /.single-channel -->
                </div>
                <!-- end /.col-md-9 -->

               <!-- start .col-md-3 -->
                <div class="col-md-3">
                    <!-- start aside -->
                    <aside class="sidebar channel--sidebar">
                        <div class="sidebar-card card--filter">
                            <a class="card-title" href="#collapse1" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="collapse1">
                                <h4>Filter Subsciptions
                                    <span class="fa fa-chevron-down"></span>
                                </h4>
                            </a>
                            <div class="collapse show collapsible-content" id="collapse1">
                                <ul class="card-content">
                                    <li>
                                        <div class="custom-checkbox2">
                                            <input type="checkbox" id="opt1" class="" name="filter_opt">
                                            <label for="opt1">
                                                <span class="circle"></span>Trending</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="custom-checkbox2">
                                            <input type="checkbox" id="opt2" class="" name="filter_opt">
                                            <label for="opt2">
                                                <span class="circle"></span>Popular</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="custom-checkbox2">
                                            <input type="checkbox" id="opt2" class="" name="filter_opt">
                                            <label for="opt2">
                                                <span class="circle"></span>Views</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="custom-checkbox2">
                                            <input type="checkbox" id="opt3" class="" name="filter_opt">
                                            <label for="opt3">
                                                <span class="circle"></span>New</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="custom-checkbox2">
                                            <input type="checkbox" id="opt4" class="" name="filter_opt">
                                            <label for="opt4">
                                                <span class="circle"></span>Best</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="custom-checkbox2">
                                            <input type="checkbox" id="opt5" class="" name="filter_opt">
                                            <label for="opt5">
                                                <span class="circle"></span>Favorite</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="custom-checkbox2">
                                            <input type="checkbox" id="opt6" class="" name="filter_opt">
                                            <label for="opt6">
                                                <span class="circle"></span>Free</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="custom-checkbox2">
                                            <input type="checkbox" id="opt7" class="" name="filter_opt">
                                            <label for="opt7">
                                                <span class="circle"></span>Paid</label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- end /.sidebar-card -->
                    </aside>
                    <!-- end aside -->
                </div>
                <!-- end /.col-md-3 -->
            </div>
            <!-- end /.row -->
            <div class="row">
                <div class="col-md-3">
                    <div class="pagination-area pull-left">
                        <nav class="navigation pagination" role="navigation">
                            <div class="nav-links">
                                <a class="prev page-numbers" href="#">
                                    <span class="fa fa-arrow-left"></span>
                                </a>
                                <a class="page-numbers current" href="#">1</a>
                                <a class="page-numbers" href="#">2</a>
                                <a class="page-numbers" href="#">3</a>
                                <a class="next page-numbers" href="#">
                                <span class="fa fa-arrow-right"></span>
                                </a>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
            <!-- end /.row -->
        </div>
        <!-- end /.container -->
    </section>
    <!--================================
        END PRODUCTS AREA
    =================================-->

    <!--================================
        START SEARCH AREA
    =================================-->
    <section class="search-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                </div>
            </div>
        </div>
    </section>
    <!--================================
       END SEARCH AREA
    =================================-->

<!-- Footer Top Starts -->
<app-footer></app-footer>
<!-- Main Footer End -->
