<!--========== Header ==============-->
<app-navbar></app-navbar>
<!--========== Header ==============-->

<body class="preload category-list-page">

    <!--================================
        START CHANNEL AREA
    =================================-->
    <section class="channels section--padding">
        <!-- start container -->
        <div class="container">

            <!-- start .row -->
            <div class="row">
                <!-- start col-md-9 -->
                <div class="col-lg-4">
                    <!-- start .single-channel -->
                    <div class="channel channel--list channel--list-small">
                        <div class="channel__thumbnail">
                            <img src="assets/images/vid-thumbnail-9.png" alt="Image">
                            <div class="prod_btn">
                                <a href="#" class="btn--sm btn--round">View</a>
                            </div>
                            <!-- end /.prod_btn -->
                        </div>
                        <!-- end /.channel__thumbnail -->

                        <div class="channel__details">
                            <div class="channel-desc">
                                <a href="#" class="channel_title">
                                  <h4>5k Subscribers</h4>
                                </a>
                                <p>Nunc placerat mi id nisi inter dum mollis. Praesent phare Nunc placerat...</p>
                                <!-- end /.titlebtm -->
                            </div>
                            <!-- end /.channel-desc -->

                            <!-- <div class="channel-meta">
                                <div class="author">
                                    <img class="auth-img" src="assets/images/video-thumbnail-16.jpeg" alt="author image">
                                    <p>
                                        <a href="#"> CODEWITHDARY</a>
                                    </p>
                                </div> -->
                                <!-- end /.author -->

                                <!-- <div class="love-comments">
                                    <p><span class="fa fa-heart"></span> 90 likes</p>
                                    <p><span class="fa fa-thumbs-up"></span> 90 Comments</p>
                                </div> -->
                                <!-- end /.love-comments -->
                            <!-- </div> -->
                            <!-- end /.channel-meta -->

                            <div class="channel-purchase">
                                <div class="price_love">
                                    <span>$10 - $50</span>
                                </div>
                                <div class="sell">
                                    <p>
                                      <span class="fa fa-eye"></span>
                                      <span>16 Views</span>
                                    </p>
                                </div>
                            </div>
                            <!-- end /.channel-purchase -->
                        </div>
                    </div>
                    <!-- end /.single-channel -->

                    <!-- start .single-channel -->
                    <div class="channel channel--list channel--list-small">

                        <div class="channel__thumbnail">
                            <img src="assets/images/vid-thumbnail-10.png" alt="Image">
                            <div class="prod_btn">
                                <a href="#" class="btn--sm btn--round">View</a>
                            </div>
                            <!-- end /.prod_btn -->
                        </div>
                        <!-- end /.channel__thumbnail -->

                        <div class="channel__details">
                            <div class="channel-desc">
                                <a href="#" class="channel_title">
                                  <h4 class="sub-num">249k Subscribers</h4>
                                </a>
                                <p>Nunc placerat mi id nisi inter dum mollis. Praesent phare Nunc placerat...</p>
                            </div>
                            <!-- end /.channel-desc -->

                            <!-- <div class="channel-meta">
                                <div class="author">
                                    <img class="auth-img" src="assets/images/video-thumbnail-16.jpeg" alt="author image">
                                    <p>
                                        <a href="#"> AazzTech Tv</a>
                                    </p>
                                </div>

                                <div class="love-comments">
                                  <p><span class="fa fa-heart"></span> 90 likes</p>
                                  <p><span class="fa fa-thumbs-up"></span> 90 Comments</p>
                                </div>
                            </div> -->
                            <!-- end channel-meta -->

                            <div class="channel-purchase">
                                <div class="price_love">
                                    <span>$10 - $50</span>
                                </div>
                                <div class="sell">
                                    <p>
                                        <span class="fa fa-eye"></span>
                                        <span>16 Views</span>
                                    </p>
                                </div>
                            </div>
                            <!-- end /.Channel Card-->
                        </div>
                    </div>
                    <!-- end /.single-channel -->

                    <!-- start .single-channel -->
                    <div class="channel channel--list channel--list-small">

                        <div class="channel__thumbnail ">
                            <img src="assets/images/video-thumbnail-7.png" alt="Image">
                            <div class="prod_btn">
                                <a href="#" class="btn--sm btn--round">View</a>
                            </div>
                            <!-- end /.prod_btn -->
                        </div>
                        <!-- end /.channel__thumbnail -->

                        <div class="channel__details">
                            <div class="channel-desc">
                                <a href="#" class="channel_title">
                                    <h4 class="sub-num">45M Subscribers</h4>
                                </a>
                                <p>Nunc placerat mi id nisi inter dum mollis. Praesent phare Nunc placerat...</p>
                            </div>
                            <!-- end /.channel-desc -->

                            <!-- <div class="channel-meta">
                                <div class="author">
                                    <img class="auth-img" src="assets/images/video-thumbnail-16.jpeg" alt="author image">
                                    <p>
                                        <a href="#"> DREAMZ Channel</a>
                                    </p>
                                </div>

                                <div class="love-comments">
                                  <p><span class="fa fa-heart"></span> 90 likes</p>
                                  <p><span class="fa fa-thumbs-up"></span> 90 Comments</p>
                                </div>
                            </div> -->
                            <!-- end channel-meta -->

                            <div class="channel-purchase">
                                <div class="price_love">
                                    <span>$10 - $50</span>
                                </div>
                                <div class="sell">
                                    <p>
                                      <span class="fa fa-eye"></span>
                                      <span>16 Views</span>
                                    </p>
                                </div>
                            </div>
                            <!-- end /.channel-purchase -->
                        </div>
                    </div>
                    <!-- end /.single-channel -->
                </div>
                <!-- end /.col-md-9 -->

                <!-- start col-md-9 -->
                <div class="col-lg-4">
                  <!-- start .single-channel -->
                  <div class="channel channel--list channel--list-small">
                      <div class="channel__thumbnail">
                          <img src="assets/images/video-thumbnail-11.png" alt="Image">
                          <div class="prod_btn">
                              <a href="#" class="btn--sm btn--round">View</a>
                          </div>
                          <!-- end /.prod_btn -->
                      </div>
                      <!-- end /.channel__thumbnail -->

                      <div class="channel__details">
                          <div class="channel-desc">
                              <a href="#" class="channel_title">
                                <h4>703k Subscribers</h4>
                              </a>
                              <p>Nunc placerat mi id nisi inter dum mollis. Praesent phare Nunc placerat...</p>
                              <!-- end /.titlebtm -->
                          </div>
                          <!-- end /.channel-desc -->

                          <!-- <div class="channel-meta">
                              <div class="author">
                                  <img class="auth-img" src="assets/images/video-thumbnail-16.jpeg" alt="author image">
                                  <p>
                                      <a href="#"> CODEWITHDARY</a>
                                  </p>
                              </div> -->
                              <!-- end /.author -->

                              <!-- <div class="love-comments">
                                  <p><span class="fa fa-heart"></span> 90 likes</p>
                                  <p><span class="fa fa-thumbs-up"></span> 90 Comments</p>
                              </div> -->
                              <!-- end /.love-comments -->
                          <!-- </div> -->
                          <!-- end /.channel-meta -->

                          <div class="channel-purchase">
                              <div class="price_love">
                                  <span>$10 - $50</span>
                              </div>
                              <!-- <div class="sell">
                                  <p>
                                    <span class="fa fa-eye"></span>
                                    <span>16 Views</span>
                                  </p>
                              </div> -->
                          </div>
                          <!-- end /.channel-purchase -->
                      </div>
                  </div>
                  <!-- end /.single-channel -->

                  <!-- start .single-channel -->
                  <div class="channel channel--list channel--list-small">

                      <div class="channel__thumbnail">
                          <img src="assets/images/video-thumbnail-16.jpeg" alt="Image">
                          <div class="prod_btn">
                              <a href="#" class="btn--sm btn--round">View</a>
                          </div>
                          <!-- end /.prod_btn -->
                      </div>
                      <!-- end /.channel__thumbnail -->

                      <div class="channel__details">
                          <div class="channel-desc">
                              <a href="#" class="channel_title">
                                <h4 class="sub-num">249k Subscribers</h4>
                              </a>
                              <p>Nunc placerat mi id nisi inter dum mollis. Praesent phare Nunc placerat...</p>
                          </div>
                          <!-- end /.channel-desc -->

                          <!-- <div class="channel-meta">
                              <div class="author">
                                  <img class="auth-img" src="assets/images/video-thumbnail-16.jpeg" alt="author image">
                                  <p>
                                      <a href="#"> AazzTech Tv</a>
                                  </p>
                              </div>

                              <div class="love-comments">
                                <p><span class="fa fa-heart"></span> 90 likes</p>
                                <p><span class="fa fa-thumbs-up"></span> 90 Comments</p>
                              </div>
                          </div> -->
                          <!-- end channel-meta -->

                          <div class="channel-purchase">
                              <div class="price_love">
                                  <span>$10 - $50</span>
                              </div>
                              <!-- <div class="sell">
                                  <p><span class="fa fa-eye"></span>
                                      <span>16 Views</span>
                                  </p>
                              </div> -->
                          </div>
                          <!-- end /.Channel Card-->
                      </div>
                  </div>
                  <!-- end /.single-channel -->

                </div>
                <!-- end /.col-md-9 -->

               <!-- start .col-md-3 -->
                <div class="col-lg-4">
                    <!-- start aside -->
                    <aside class="sidebar channel--sidebar">
                        <div class="sidebar-card card--filter">
                            <a class="card-title" href="#collapse2" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="collapse2">
                                <h4>Filter Channels
                                    <span class="fa fa-chevron-down"></span>
                                </h4>
                            </a>
                            <div class="collapse show collapsible-content" id="collapse2">
                                <ul class="card-content">
                                    <li>
                                        <div class="custom-checkbox2">
                                            <input type="checkbox" id="opt1" class="" name="filter_opt">
                                            <label for="opt1">
                                                <span class="circle"></span>Trending</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="custom-checkbox2">
                                            <input type="checkbox" id="opt2" class="" name="filter_opt">
                                            <label for="opt2">
                                                <span class="circle"></span>Popular</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="custom-checkbox2">
                                            <input type="checkbox" id="opt3" class="" name="filter_opt">
                                            <label for="opt3">
                                                <span class="circle"></span>New</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="custom-checkbox2">
                                            <input type="checkbox" id="opt4" class="" name="filter_opt">
                                            <label for="opt4">
                                                <span class="circle"></span>Best</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="custom-checkbox2">
                                            <input type="checkbox" id="opt5" class="" name="filter_opt">
                                            <label for="opt5">
                                                <span class="circle"></span>Favorite</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="custom-checkbox2">
                                            <input type="checkbox" id="opt6" class="" name="filter_opt">
                                            <label for="opt6">
                                                <span class="circle"></span>Free</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="custom-checkbox2">
                                            <input type="checkbox" id="opt7" class="" name="filter_opt">
                                            <label for="opt7">
                                                <span class="circle"></span>Paid</label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- end /.sidebar-card -->
                    </aside>
                    <!-- end aside -->
                </div>
                <!-- end /.col-md-3 -->
            </div>
            <!-- end /.row -->

            <div class="row">
                <div class="col-md-3">
                    <div class="pagination-area pull-left">
                        <nav class="navigation pagination" role="navigation">
                            <div class="nav-links">
                                <a class="prev page-numbers" href="#">
                                    <span class="fa fa-arrow-left"></span>
                                </a>
                                <a class="page-numbers current" href="#">1</a>
                                <a class="page-numbers" href="#">2</a>
                                <a class="page-numbers" href="#">3</a>
                                <a class="next page-numbers" href="#">
                                    <span class="fa fa-arrow-right"></span>
                                </a>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
            <!-- end /.row -->
        </div>
        <!-- end /.container -->
    </section>
    <!--================================
        END PRODUCTS AREA
    =================================-->

    <!--================================
        START SEARCH AREA
    =================================-->
    <section class="search-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                </div>
            </div>
        </div>
    </section>
    <!--================================
       END SEARCH AREA
    =================================-->

<!-- Footer Top Starts -->
<app-footer></app-footer>
<!-- Main Footer End -->
