/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.gen-breadcrumb-container .breadcrumb li {
  font-size: 19px !important;
}
.login-body, #kt_login {
  background: #fff !important;
  height: 100% !important;
  min-height: 545px !important;
  max-height: 100% !important;
}
.loader::before {
  background: #fff !important;
}
.gen-likes-col {
  margin-top: 5px !important;
}
button, input, optgroup, select, textarea {
  font-family: 'Montserrat' !important;
}
img.mt-3.mb-3.cover-image {
  width: 50%;
}
.channel-profile-img {
  width: 70px !important;
}
.social-ff {
  font-weight: 500;
  margin-left: 70px;
}
.social-iconz i, .social-iconz a{
  color: #fff !important;
}
.channel-desc {
  background: #fff;
  padding: 15px;
}
.social a {
  background: #000 none repeat scroll 0 0;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  padding: 5px 10px;
}
.gen-subtitle {
  padding-top: 10px;
  margin-bottom: 10px;
}
.row.col-lg-12.text-center {
  margin-top: 5px !important;
}
i#channel-avator {
  background: #dde0e5;
  border-radius: 50%;
  padding: 14px;
  padding-top: 16px;
  padding-bottom: 11px;
}
#reg-btn-cta {
  margin-top: 87px;
}

#vanish-login-user {
  border-right: dashed;
  border-right-color: #ececec;
}
#footer-info {
  margin-bottom: 7px !important;
}
button.btn.btn--md.btn--round.register_btn {
  min-height: 45px !important;
}
#chan-eye {
  color: #fff;
  font-size: 30px;
  margin-right: 25px;
}
@media (max-width: 768px) {
  div#banner-home-login {
    background: #fff !important;
}
.channel--list-small {
  padding: 0px;
}
.mainmenu__search {
  padding: 0px;
}
header#gen-header {
  background: var(--white-color);
}
.channels {
  background: #ffffff;
}
.channel {
  margin-bottom: 0px;
}
.dashboard-area {
  background: #fff;
}
.dashboard_contents {
  padding: 15px 0 70px 0;
}
.pagination-area .pagination {
  margin: 20px 0 45px 0;
}
.dashboard_menu_area .dashboard_menu li {
  margin: 0px;
}
.search-area2, .breadcrumb-area {
  padding-top: 50px !important;
  padding-bottom: 30px !important;
}
span.text-light.username {
  color: inherit !important;
}
header#gen-header .gen-bottom-header .navbar .navbar-nav li a {
  font-size: 13px !important;
  color: #333 !important;
}
.channel--list-small .prod_btn a {
  margin-left: 20px !important;
}
.channels {
  padding-top: 0px !important;
}
.channel--list .channel__thumbnail img {
  width: 100%;
  -webkit-border-radius: inherit !important;
  border-radius: inherit !important;
  width: auto !important;
  height: auto !important;
}
.row.col-lg-12 {
  padding: 0px !important;
}
#vanish-login-user {
  border-right: none !important;
}
.gen-login-page-background, .gen-register-page-background, .recover-password-page-background{
  background-image: none !important;
}
.gen-login-page-background:before, .gen-register-page-background:before, .recover-password-page-background:before {
  background: none !important;
}
section, .gen-section-padding {
  padding: 0px !important;
}
.row.col-lg-12.text-center {
  margin-top: 0px !important;
  margin-right: 0px !important;
}
}
