/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.gen-breadcrumb-container .breadcrumb li {
  font-size: 19px !important;
}
/* .single_speaker .speaker__thumbnail img {
  width: 120px !important
} */
.gen-likes-col {
  margin-top: 5px !important;
}
button, input, optgroup, select, textarea {
  font-family: 'Montserrat' !important;
}
img.mt-3.mb-3.cover-image {
  width: 50%;
}
.gen-subtitle {
  padding-top: 10px;
  margin-bottom: 10px;
}
.row.col-lg-12.text-center {
  margin-top: 5px !important;
}
i#channel-avator {
  background: #dde0e5;
  border-radius: 50%;
  padding: 10px;
  padding-top: 12px;
  padding-bottom: 11px;
}
#reg-btn-cta {
  margin-top: 87px;
}
span.text-light.username {
  color: inherit !important;
}
#vanish-login-user {
  border-right: dashed;
  border-right-color: #ececec;
}
#footer-info {
  margin-bottom: 7px !important;
}
/* .gen-single-tv-show-info {
  margin-top: -100px;
} */
.fa.fa-search {
  color: #20ba83;
}
#chan-eye {
  color: #fff;
  font-size: 30px;
  margin-right: 25px;
}
@media (max-width: 768px) {
  div#banner-home-login {
    background: #fff !important;
}
.channel--list-small .prod_btn a {
  margin-left: 20px !important;
}
.channels {
  padding-top: 0px !important;
}
.channel--list .channel__thumbnail img {
  width: 100%;
  -webkit-border-radius: inherit !important;
  border-radius: inherit !important;
  width: auto !important;
  height: auto !important;
}
.row.col-lg-12 {
  padding: 0px !important;
}
#vanish-login-user {
  border-right: none !important;
}
.gen-login-page-background, .gen-register-page-background, .recover-password-page-background{
  background-image: none !important;
}
.gen-login-page-background:before, .gen-register-page-background:before, .recover-password-page-background:before {
  background: none !important;
}
section, .gen-section-padding {
  padding: 0px !important;
}
.row.col-lg-12.text-center {
  margin-top: 0px !important;
  margin-right: 0px !important;
}
}
