/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.gen-breadcrumb-container .breadcrumb li {
  font-size: 19px !important;
}
/* .single_speaker .speaker__thumbnail img {
  width: 120px !important
} */
.gen-likes-col {
  margin-top: 5px !important;
}
/* .gen-breadcrumb-title {
  margin-top: 55px !important;
} */
