<!--========== Header ==============-->
<header id="gen-header" class="gen-header-style-1 gen-has-sticky">
  <div class="gen-bottom-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" routerLink="/">
              <img class="img-fluid logo" src="assets/images/logo-2.png" alt="CreatorsStream-image">
            </a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <div id="gen-menu-contain" class="gen-menu-contain">
                <ul id="gen-main-menu" class="navbar-nav ml-auto">
                  <li class="menu-item active"><a routerLink="/" class="menu-item active" aria-current="page">Home</a>
                  </li>
                  <li class="menu-item"><a routerLink="/subscriptions/">Subscriptions</a>
                  <!-- <li class="menu-item"><a href="#">Adverts</a></li> -->
                  <li class="menu-item"><a href="#">Promotions</a></li>
                  <li class="menu-item"><a href="#">Contacts</a></li>
                </ul>
              </div>
            </div>

            <div class="gen-header-info-box">
              <div class="gen-menu-search-block">
                <!-- <a href="#" id="gen-menu-notification"><i class="far fa-question-circle" aria-hidden="true"></i></a>
                <a href="#" id="gen-menu-notification"><i class="fas fa-bell"></i></a> -->
                <a href="javascript:void(0)" id="gen-seacrh-btn"><i class="fa fa-search"></i></a>
                <div class="gen-search-form">
                  <form role="search" method="get" class="search-form" action="#">
                    <label>
                      <span class="screen-reader-text"></span>
                      <input type="search" class="search-field" placeholder="Search Videos" value="" name="s">
                    </label>
                    <button type="submit" class="search-submit"><span class="screen-reader-text"></span></button>
                  </form>
                </div>
              </div>
            </div>

            <ng-container *ngIf="authService.isLoggedIn$ | async; else notLogged">
              <div class="gen-account-holder">
                <a href="javascript:void(0)" id="gen-user-btn"><i class="fa fa-user"></i></a>
                <span class="text-light username" routerLink="/dashboard">&nbsp; {{(authService.user$ |
                  async)?.name}}</span>
                <div class="gen-account-menu">
                  <ul class="gen-account-menu">
                    <li><a routerLink="/dashboard/settings"><i class="fa fa-user"></i>Profile
                      </a></li>
                    <li><a routerLink="/dashboard"><i class="fa fa-indent"></i>dashboard</a></li>
                    <!-- <li><a routerLink="/auth/register/"><i class="fa fa-list"></i>Video Playlist</a></li> -->
                    <li><a routerLink="/dashboard/add-video"> <i class="fa fa-upload"></i>Upload Video</a></li>
                    <li><a (click)="logout()"><i class="fa fa-sign-out-alt"></i>Logout</a></li>
                  </ul>
                </div>
              </div>
            </ng-container>
            <ng-template #notLogged>
              <div class="gen-btn-container">
                <a routerLink="/auth/register" class="gen-button">
                  <div class="gen-button-block">
                    <span class="gen-button-line-left"></span>
                    <span class="gen-button-text">Register</span>
                  </div>
                </a>
              </div>
            </ng-template>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <i class="fas fa-bars"></i>
            </button>

          </nav>
        </div>
      </div>
    </div>
  </div>
</header>
<!--========== Header ==============-->


<!-- <header id="gen-header" class="gen-header-style-1 gen-has-sticky video-playbck">
  <div class="gen-bottom-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <nav class="navbar navbar-expand-lg navbar-light">

            <a class="navbar-brand" routerLink="/">
              <img class="img-fluid logo" src="assets/images/logo-1.png" alt="CreatorsStream-image">
            </a>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <div id="gen-menu-contain" class="gen-menu-contain">
                <ul id="gen-main-menu" class="navbar-nav ml-auto">
                  <li class="menu-item active"><a routerLink="/" class="menu-item active" aria-current="page">Home</a>
                  </li>
                  <li class="menu-item"><a href="#">Videos</a></li>
                  <li class="menu-item"><a href="#">Tv Shows</a></li>
                  <li class="menu-item"><a href="#">Movies</a>

                    <i class="fa fa-chevron-down gen-submenu-icon"></i>

                    <ul class="sub-menu">
                      <li class="menu-item menu-item-has-children"><a href="#">Adventure</a>
                        <i class="fa fa-chevron-down gen-submenu-icon"></i>
                        <ul class="sub-menu">
                          <li class="menu-item"><a href="#">Adventure List1</a></li>
                          <li class="menu-item"><a href="#">Adventure List2</a></li>
                          <li class="menu-item"><a href="#">Adventure List3</a></li>
                        </ul>
                      </li>
                    </ul>

                  <li class="menu-item menu-item-has-children"><a href="#">Romantic</a>
                    <i class="fa fa-chevron-down gen-submenu-icon">
                    </i>

                    <ul class="sub-menu">
                      <li class="menu-item"><a href="#">Romantic List1</a></li>
                      <li class="menu-item"><a href="#">Romantic List2</a></li>
                      <li class="menu-item"> <a href="#">Romantic List3</a></li>
                    </ul>

                  <li class="menu-item"><a href="#">Adverts</a></li>
                  <li class="menu-item"><a href="#">Promotions</a></li>
                </ul>
              </div>
            </div>

            <div class="gen-header-info-box">
              <div class="gen-menu-search-block">
                <a href="#" id="gen-menu-notification"><i class="far fa-question-circle" aria-hidden="true"></i></a>
                <a href="#" id="gen-menu-notification"><i class="fas fa-bell"></i></a>
                <a href="javascript:void(0)" id="gen-seacrh-btn"><i class="fa fa-search"></i></a>
                <div class="gen-search-form">
                  <form role="search" method="get" class="search-form" action="#">
                    <label>
                      <span class="screen-reader-text"></span>
                      <input type="search" class="search-field" placeholder="Search Videos" value="" name="s">
                    </label>
                    <button type="submit" class="search-submit"><span class="screen-reader-text"></span></button>
                  </form>
                </div>
              </div>
            </div>

            <div class="gen-account-holder">
              <a href="javascript:void(0)" id="gen-user-btn"><i class="fa fa-user"></i></a>
              <div class="gen-account-menu">
                <ul class="gen-account-menu">
                  <li><a routerLink="/dashboard/settings/"><i class="fa fa-user"></i>Profile </a></li>
                  <li><a routerLink="/dashboard/"><i class="fa fa-indent"></i>dashboard</a></li>
                  <li><a href="#"><i class="fa fa-list"></i>Video Playlist</a></li>
                  <li><a routerLink="/dashboard/add-video/"> <i class="fa fa-upload"></i>Upload Video</a></li>
                  <li><a routerLink="/auth/home/"><i class="fa fa-sign-out-alt"></i>Logout</a></li>
                </ul>
              </div>
            </div>

            <div class="gen-btn-container">
              <a routerLink="/auth/register/" class="gen-button">
                <div class="gen-button-block">
                  <span class="gen-button-line-left"></span>
                  <span class="gen-button-text">Join</span>
                </div>
              </a>
            </div>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <i class="fas fa-bars"></i>
            </button>

          </nav>
        </div>
      </div>
    </div>
  </div>
</header>
 -->
